.last-value {
  @apply bg-orange #{!important};
}

.neighbour {
  @apply bg-success #{!important};
}

.exited {
  @apply bg-blue-2 #{!important};
}

.exited p {
  @apply text-white;
}

p {
  font-size: 2.4vw;
  @apply text-ink-2 font-mono;
}

.number {
  background-color: white;
}

.top-left {
  border-top-left-radius: 4px;
}

.top-right {
  border-top-right-radius: 4px;
}

.bottom-left {
  border-bottom-left-radius: 4px;
}

.bottom-right {
  border-bottom-right-radius: 4px;
}
