<div class="flex flex-col p-5 lg:p-0 lg:w-[85%] gap-10 lg:gap-16 ml-auto mr-auto items-center mt-3 lg:mt-16 mb-16">
  <div class="w-fit lg:mb-10">
    <h1 class="text-5xl lg:text-7xl text-primary-color text-center">Le syndrome de Wolff-Parkinson-White</h1>
    <div class="bg-primary-color h-2 w-full hidden lg:block"></div>
  </div>

  <app-under-section Title="Qu'est-ce que le Syndrome de Wolff-Parkinson-White ?">
    <p>
      Le Syndrome de Wolff-Parkinson-White est une anomalie congénitale du cœur présente dès la naissance. Cette maladie
      est caractérisée par une connexion électrique supplémentaire entre les oreillettes (atria) et les ventricules,
      causée par une voie électrique anormale. Cette voie anormale permet une transmission rapide de l'influx
      électrique, ce qui peut provoquer des épisodes de battements cardiaques très rapides et irréguliers, aussi
      appelés arythmies.
    </p>
  </app-under-section>

  <app-under-section Title="Anatomie et Fonctionnement du Cœur Normal">
    <p>
      Dans un cœur en bonne santé, l'influx électrique se propage de manière ordonnée à travers le nœud
      auriculoventriculaire (NAV) et le faisceau de His. Cette voie assure la coordination entre les
      différentes cavités cardiaques pour une contraction harmonieuse.
    </p>
  </app-under-section>

  <app-under-section Title="Que se passe-t-il en cas de Wolff-Parkinson-White ?">
    <p>
      Dans le cadre du syndrome de Wolff-Parkinson-White, la présence d'une voie électrique supplémentaire entraîne une conduction
      électrique anormale. Cela signifie que les impulsions électriques passent plus rapidement des oreillettes aux
      ventricules, provoquant des battements cardiaques trop rapides.
    </p>
  </app-under-section>

  <app-under-section Title="Symptômes"  class="w-full">
    <p>
      Les symptômes du Wolff-Parkinson-White peuvent varier d'une personne à l'autre et peuvent inclure :
    </p>
    <ul class="list-disc ml-10">
      <li>Palpitations cardiaques (sensation de battements de cœur rapides ou irréguliers)</li>
      <li>Étourdissements ou évanouissements</li>
      <li>Difficulté à respirer (dyspnée)</li>
      <li>Fatigue extrême</li>
      <li>Épisodes de tachycardie (accélération du rythme cardiaque)</li>
    </ul>
    <p>Ces symptômes peuvent survenir à tout âge, même si la maladie est présente dès la naissance</p>
  </app-under-section>

  <app-under-section Title="Diagnostic"  class="w-full">
    <p>
      Le diagnostic du Wolff-Parkinson-White repose principalement sur :
    </p>
    <ul class="list-disc ml-10">
      <li><em>Électrocardiogramme (ECG) :</em> Ce test de routine permet de détecter la présence de la voie électrique anormale en traçant l'activité électrique du cœur.</li>
      <li><em>Études Électrophysiologiques (EP) :</em> Ces tests plus avancés fournissent une cartographie détaillée des circuits électriques du cœur pour identifier précisément la zone anormale.</li>
    </ul>
  </app-under-section>

  <app-under-section Title="Traitement"  class="w-full">
    <p>
      Il existe plusieurs options pour traiter le Wolff-Parkinson-White, en fonction de la gravité et de la fréquence des symptômes :
    </p>
    <ul class="list-decimal ml-10">
      <li><em>Médicaments antiarythmiques :</em> Utilisés pour gérer et réguler les rythmes cardiaques anormaux.</li>
      <li><em>Ablation intracardiaque :</em> Une procédure qui altère les propriétés électriques d'une zone bien délimitée du myocarde, c'est-à-dire du muscle cardiaque, en utilisant un courant électrique pour traiter certains troubles du rythme cardiaque.</li>
    </ul>
  </app-under-section>

  <app-under-section Title="Détails de la Technique d'Ablation Intracardiaque"  class="w-full">
    <p>
      Maxence a subi une ablation intracardiaque pour traiter son Wolff-Parkinson-White. Cette procédure est réalisée par un cardiologue spécialisé en électrophysiologie cardiaque. Voici comment cela fonctionne :
    </p>
    <ul class="list-decimal ml-10">
      <li><em>Introduction d'un cathéter :</em> UUn fin tube (cathéter) est inséré via une veine ou une artère fémorale, sous anesthésie locale, et guidé jusqu'à l'intérieur du cœur sous contrôle radioscopique.</li>
      <li><em>Destruction de la voie anormale :</em> La zone du myocarde à cibler est précisément repérée en détectant l'activité électrique spontanée des cellules myocardiques.</li>
      <li><em>Cartographie endocardique :</em> n courant de radiofréquence est utilisé pour chauffer et détruire la voie de conduction anormale, en élevant la température à entre 50 et 75 degrés Celsius pendant quelques dizaines de secondes.</li>
      <li><em>Vérification et enregistrement :</em> L'activité électrique du cœur est enregistrée après la procédure pour assurer la disparition des signaux de la zone pathologique.</li>
    </ul>
  </app-under-section>
</div>
