h1 {
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
  1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.scrolling-text-container {
  overflow: hidden; /* Cache le texte qui déborde */
  white-space: nowrap; /* Ne permet pas à la ligne de se casser */
  width: 100%; /* Largeur du conteneur */
}

.scrolling-text {
  display: inline-block; /* Permet le défilement */
  animation: scroll 10s linear infinite; /* Vitesse du défilement */
}

.scrolling-text-ordi {
  display: inline-block; /* Permet le défilement */
  animation: scroll 180s linear infinite; /* Vitesse du défilement */
}

@keyframes scroll {
  100% {
    transform: translateX(-60%); /* Commencer à gauche */
  }

  0% {
    transform: translateX(0); /* Finir à droite */
  }
}
