.tag {
  padding-left: 2.4vw;
  padding-right: 2.4vw;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 999px;
  width: fit-content;
  border: 2px solid;
  @apply border-blue-2;
}

p {
  font-size: 1.8vw;
  @apply text-ink-2 font-mono;
}

.bingo {
  @apply border-orange;
}

.bingo p {
  @apply text-orange-3;
}
