<app-history-container [Year]="2008" [Title]="'Maxence a 4 ans'">
  <p>
    L’année 2008 sera très difficile avec un séjour à l’hôpital Necker durant 7 mois. Rentré pour faire une
    série d’examens pendant 10 jours afin d’essayer de répondre aux nombreuses questions que tout le monde se
    pose quant à l’association de ces deux maladies, Maxence y est finalement resté 7 mois avec 6 anesthésies
    générales dont une pour une grosse intervention chirurgicale : refaire son estomac afin de n’en faire qu’une
    continuité de l’œsophage et lui permettre de manger. Cela permet qu’il ne vomisse plus de sucs biliaires
    mais il ne peut toujours rien avaler sinon il vomit.
  </p>
  <p>
    Je suis restée à ses côtés durant toute son hospitalisation en étant enceinte. Nous sommes rentrés afin que
    je puisse accoucher dans notre département. L’année s’est donc terminée par un merveilleux cadeau :
    l’arrivée de Melvin, un petit frère adoré par Maxence et ses deux autres « grands » frères
    (Florian, 6 ans et Evan, 5 ans)!
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2008/PictureFamily.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2008/PictureFamilyBirthday.jpg"></app-vpd-image>
  </div>
</app-history-container>
