<footer class="bg-primary-color text-white flex flex-col items-center pb-10 pt-10">
  <div class="bg-secondary-color flex flex-col w-full items-center pt-5 pb-10 mb-20">
    <div class="mb-10">
      <h2 class="text-4xl sm:text-6xl text-white">Nos partenaires</h2>
      <div class="bg-white h-1 sm:h-2 mt-2"></div>
    </div>
    <app-carousel class="sm:w-4/5 ml-auto mr-auto"></app-carousel>
  </div>
  <div class="w-full flex flex-col items-center lg:items-start lg:flex-row gap-10 lg:gap-0">

    <img src="icons/vpd_logo.svg" class="w-36 ml-20 mr-20 hidden lg:block" alt="Logo vole papillon d'amour">

    <div class="footer-section">
      <h3>Contact</h3>
      <div class="footer-separator"></div>

      <a href="mailto:volepapillondamour@sfr.fr">volepapillondamour&#64;sfr.fr</a>
      <p>46 route de Saint Marcellin<br>42170 Saint-Just-Saint-Rambert<br>France</p>
    </div>

    <div class="footer-section lg:ml-20">
      <h3>À Propos</h3>
      <div class="footer-separator"></div>

      <div class="footer-link-list">
        @for (legalRoute of route.config; track legalRoute.path) {
          @if (legalRoute.path && legalRoute.data?.['legalFooterLabel']) {
            <a class="footer-link" [routerLink]="['/', legalRoute.path]">
              <span>{{ legalRoute.data?.['legalFooterLabel'] }}</span>

              @if (legalRoute.data?.['legalFooterStatus']) {
                <span class="footer-status">&nbsp;: {{ legalRoute.data?.['legalFooterStatus'] }}</span>
              }
            </a>
          }
        }
      </div>
    </div>
  </div>

  <img src="icons/vpd_logo.svg" class="w-20 mt-20 lg:hidden" alt="Logo vole papillon d'amour">

  <p class="mt-2 lg:mt-20">© 2025 Vole Papillon D'Amour. Tous droits réservés.</p>
  <div class="flex flex-row mt-2">
    <p>Réalisé par</p>
    <a href="https://github.com/FlorianDrevet" class="underline flex flex-row ml-1">Florian Drevet <img src="icons/github-logo.svg" class="h-5 ml-3" alt="Logo GitHub"></a>
  </div>
</footer>

