@font-face {
  font-family: 'CaveatBrush';
  src: url('./../../public/fonts/CaveatBrush-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DancingScript-Regular';
  src: url('./../../public/fonts/DancingScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
