.container-tableau {
  @apply w-screen h-screen bg-ink-2;
}

.info-partie {
  height: 8vw;
  @apply flex flex-row justify-between items-center;
}

.partie {
  @apply flex flex-row flex-wrap mb-[20px] w-screen items-center;
}

.tableau {
  @apply flex flex-col w-[90%] m-auto;
}

app-number {
  border-width: 1px;
  @apply w-full border-cyan/20;
}

app-number:last-child {
  border-bottom-right-radius: 4px;
}

.ligne {
  @apply flex flex-row;
}

.lots {
  @apply flex flex-col mr-[5%] justify-end gap-2.5;
}

.lots app-tag {
  width: fit-content;
  margin-left: auto;
}

.bingo {
  margin-top: 3.5vw;
  margin-left: 5%;
  @apply flex flex-row justify-between;
}

.utils {
  margin-right: 5%;
  @apply flex flex-row gap-4;
}

.util-btn {
  border-radius: 999px;
  height: fit-content;
  padding: 1vw;
  border-width: 3px;
  @apply flex items-center justify-center;
}

.util-btn-danger {
  @apply border-danger text-danger bg-white;
}

.util-btn-success {
  @apply border-success text-success bg-white;
}

.util-btn-gold {
  @apply border-orange-2 text-orange-3 bg-white;
}

.pause-title {
  font-size: 6vw;
  width: fit-content;
  @apply ml-auto mr-auto text-white font-serif;
}

.bingo-numero-pause {
  font-size: 4.5vw;
  text-align: center;
  @apply ml-auto mr-auto text-mist-2 font-mono mt-4;
}

.last-numero-title {
  font-size: 4.5vw;
  width: fit-content;
  @apply mr-auto text-white font-serif;
}

.last-numero {
  font-size: 8vw;
  text-align: center;
  @apply ml-auto mr-auto text-orange-2 font-serif mt-4;
}
