<app-history-container [Year]="2006" [Title]="'Maxence a 2 ans'" [ContainerBackgroundContainer]="BackgroundColorEnum.BLUE">
  <p>
    Le 7 décembre 2006, il retourne à Lyon pour des crises de nausées : il ne cesse d’être nauséeux 24h/24.
    L’équipe médicale ne trouvera rien l’expliquant et cela cessera au bout de 2 semaines avec un petit
    garçon épuisé.
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2006/MaxenceBaptism.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2006/MaxenceBaptismAndGodfather.jpg"></app-vpd-image>
  </div>
</app-history-container>


