.last-value {
  @apply bg-orange #{!important};
}

.neighbour {
  @apply bg-success #{!important};
}

.exited {
  @apply bg-blue-2 #{!important};
}

.exited p {
}

p {
  @apply text-ink-2 md:text-[50px] text-[8vw] leading-[10vw] md:leading-[inherit];
}

.number {
  background-color: white;
}

.top-left {
  border-top-left-radius: 35px;
}

.top-right {
  border-top-right-radius: 35px;
}

.bottom-left {
  border-bottom-left-radius: 35px;
}

.bottom-right {
  border-bottom-right-radius: 35px;
}
