<app-history-container [Year]="2009" [Title]="'Maxence a 5 ans'">
  <p>
    L’année 2009 a été marquée par une autre fracture spontanée demandant 8 semaines d’immobilisation et la
    mise en place d’un traitement utilisé pour la maladie des os de verre. Depuis, Maxence est hospitalisé
    tous les trimestres durant minimum 3 jours pour des injections.
  </p>
  <p>
    Il a eu 2 septicémies dues à des infections nosocomiales contractées à Lyon. Il a fallu lui changer son
    cathéter à cause d’une infection localisée dessus.
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.BLUE"
      src="images/MaxencesHistory/2009/MaxenceBirthdayFiveYears.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.BLUE"
      src="images/MaxencesHistory/2009/ChrismasFamily.jpg"></app-vpd-image>
  </div>
</app-history-container>


