<app-history-container [Year]="2005" [Title]="'Maxence a 1 an'">
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.BLUE"
      src="images/MaxencesHistory/2005/MaxenceBirthdayArdoise.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.BLUE"
      src="images/MaxencesHistory/2005/MaxenceBirthdayAndMom.jpg"></app-vpd-image>
  </div>
  <p>
    A sa sortie, le 7 décembre 2005, Maxence a 13 mois, pèse 7kg530 et est sous alimentation parentérale
    exclusive 19H/24. Il est atteint de la varicelle quelques jours plus tard.
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.BLUE"
      src="images/MaxencesHistory/2005/Varicelle.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.BLUE"
      src="images/MaxencesHistory/2005/VaricelleBis.jpg"></app-vpd-image>
  </div>
  <p>
    Il peut prendre des bains lorsqu’il est débranché, en protégeant le cathéter central de l’eau.
    Il faut savoir que l’eau est son ennemi quasi mortel car c’est le plus grand facteur d’infection par la
    voie centrale (septicémie). Il restera à la maison pendant un an, sans que la maladie ne lui cause de
    soucis particulier.
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.BLUE"
      src="images/MaxencesHistory/2005/MaxenceBath.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.BLUE"
      src="images/MaxencesHistory/2005/MaxenceReturnHome.jpg"></app-vpd-image>
  </div>
</app-history-container>
