@if (actuality() !== null) {
  <div class="flex flex-col items-center mt-10">
    <div class="flex flex-col items-center w-fit">
      <h1 class="text-primary-color text-5xl lg:text-8xl text-center">{{actuality()!.title}}</h1>
      <div class="bg-primary-color h-2 lg:h-3 w-4/5 mt-2"></div>
      <div class="flex flex-row mt-5">
        <img
          class=" lg:mr-5 h-10 lg:h-[60px]"
          height="60"
          width="60"
          src="icons/calendar-icon.svg" alt="calendar icon">
        <p class="text-3xl lg:text-5xl text-text-color mt-1">{{actuality()!.date | date:'dd/MM/yyyy'}}</p>
      </div>
    </div>

    <div class="w-4/5 flex flex-col items-center mt-10 ">
      <img class="h-auto lg:w-2/5 mb-10 rounded-3xl" [src]="actuality()!.urlPrincipalImage">
      <p class="text-justify text-primary-color lg:w-4/5 text-2xl lg:text-4xl">{{actuality()!.article}}</p>
    </div>

    @if(actuality()!.images.length > 0) {
      <div class="flex flex-col mt-10 items-center">
        <div class="w-fit">
          <h2 class="text-primary-color text-5xl lg:text-6xl">Plus d'images</h2>
          <div class="mt-2 bg-primary-color h-2 w-full"></div>
        </div>
        <div class="mt-10 flex-row flex flex-wrap justify-evenly gap-10">
          @for(image of actuality()!.images; track image) {
            <app-vpd-image [rounded]="true" [src]="image" [orientation]="ImageOrientationEnum.PORTRAIT"></app-vpd-image>
          }
        </div>
      </div>
    }

    @if(actuality()!.instagramLink !== null || actuality()!.facebookLink !== null) {
      <div class="w-4/5 flex flex-col items-center mt-10 lg:mt-20">
        <div class="w-fit">
          <h2 class="hidden lg:block text-primary-color text-5xl lg:text-6xl">Réagissez à cette actualité</h2>
          <h2 class="lg:hidden text-primary-color text-5xl lg:text-6xl">Réagissez sur</h2>
          <div class="mt-2 bg-primary-color h-2 w-full"></div>
        </div>
        <div class="flex flex-row mt-10 lg:mt-20 justify-between lg:justify-evenly w-full lg:w-2/5">
          @if(actuality()!.facebookLink !== null) {
            <a class="flex items-center flex-col ml-auto mr-auto" [href]="actuality()!.facebookLink">
                <img src="images/facebook.svg" class="h-[60px] lg:h-[100px]">
                <p class="text-3xl lg:text-5xl text-primary-color">Facebook</p>
            </a>
          }
          @if (actuality()!.instagramLink !== null) {
            <a class="flex items-center flex-col ml-auto mr-auto" [href]="actuality()!.instagramLink">
              <img src="images/instagram.svg" class="h-[60px] lg:h-[100px]">
              <p class="text-3xl lg:text-5xl text-primary-color" >Instagram</p>
            </a>
          }
        </div>
      </div>
    }
    <app-button class=" mt-20 mb-20 hidden lg:block" [routerLink]="'/toute-l-actualite'">< Retour à toute l'actualité</app-button>
    <app-button class="mt-10 mb-20 lg:hidden" [routerLink]="'/toute-l-actualite'">< Toute l'actualité</app-button>
  </div>
}
@else {
  <mat-spinner class="ml-auto mr-auto"></mat-spinner>
}

