<app-general-infos [vpdEvent]="vpdEvent()" mapImage="images/map_bourse_aux_livres.png">
  <app-section-infos-event
    Title="Dates"
    UrlIcon="icons/calendar-icon.svg"
    [Value]="'Du ' + (vpdEvent().dateStart | date: 'EEEE d MMMM') + '<br>au ' + (vpdEvent().dateEnd | date: 'EEEE d MMMM yyyy')">
  </app-section-infos-event>
  <app-section-infos-event
    Title="Horaires"
    UrlIcon="icons/clock-icon.svg"
    [Value]="'De ' + (vpdEvent().hourOpenDoors | date: 'HH:mm':'UTC') + ' à ' + (vpdEvent().hourCloseDoors | date: 'HH:mm':'UTC')">
  </app-section-infos-event>
</app-general-infos>

<section class="flex flex-col gap-8 bg-white px-shell py-14 lg:py-[70px]">
  <div class="border-b border-line-2 pb-4">
    <app-section-eyebrow label="Sur place" orientation="left">
      <h2 class="font-serif text-[26px] font-medium leading-none text-ink-2 lg:text-[34px]">Les tarifs.</h2>
    </app-section-eyebrow>
  </div>
  <app-prices [section]="ProductSectionEnum.Book"></app-prices>
</section>
