<app-history-container [Year]="2013" [Title]="'Maxence a 9 ans'">
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/BonneAnnee.jpg"></app-vpd-image>
  </div>
  <p>
    Maxence est en forme. Il a encore du mal à reprendre ses marques et continue à demander en se levant tous
    les matins si nous allons le remmener au centre hospitalier... Nous l'entendons peu dans la journée, il joue
    seul ou s'isole en regardant la télévision. Par contre, il attend avec impatience la reprise de l'école.
    C'est d'ailleurs, pour lui, SA rentrée après 7 mois de séparation avec ses copains de classe et sa maitresse
    de Clis4.
  </p>
  <p>
    Cà y est, nous sommes le 7 janvier: date anniversaire de son frère ainé Florian qui fête ses 11 ans et
    surtout rentrée des classes!! Maxence retrouve ses marques immédiatement, comme s'il ne s'était pas absenté
    depuis mai 2012! La maîtresse est agréablement surprise de son niveau en mathématiques et de ses progrès en
    lecture. Du coup, elle décide d'accélérer le pas en maths en finissant rapidement le programme de CP afin de
    rapidement commencer celui de CE1! Concernant la lecture, elle a suivi une formation sur "les Alphas" afin
    de permettre à Maxence de progresser dans ce domaine. Nous lui donnons toute la panoplie financée par
    l'association: livres, affiches, DVD, personnages... Non seulement cela va servir à notre petit homme, mais
    les autres élèves du même niveau apprennent grâce à cette méthode! Nous faisons deux pierres d'un coup:
    aider Maxence et les autres enfants!
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceCartable.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/DesChiffresEtDesLettres.jpg"></app-vpd-image>
  </div>
  <p>
    Nous ne perdons d'ailleurs pas cet objectif concernant la visio-conférence. Grâce à l'association "Anges
    des eaux vives", nous avons rendez-vous au Conseil Général pour tenter de faire bouger les choses car cela
    fait 1 an et demi que la demande stagne à l'inspection académique, aucune réponse quant à notre demande
    d'installation alors que tous les partenaires sont d'accord. Nous espérons que les choses bougent avant la
    fin de l'année scolaire. Vendredi 18, nous sommes invités à Chazelle sur Lyon par l'union des commerçants.
    Ils ont organisé une manifestation le 8 décembre à l'occasion des Illuminations et nous offre la recette de
    cette journée. Un immense merci à tous. Dimanche 20: notre premier LOTO!
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/LotoMaman.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/LotoTableau.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/LotoSalle.jpg"></app-vpd-image>
  </div>
  <p>
    Après plusieurs mois d'organisation et un immense investissement de la part de "nos petites mains" Laetitia,
    Brigitte et Christine, c'est enfin le grand jour. Easydis nous a fait don du premier lot, un téléviseur LED
    de 119cm 3D. Nous avons de magnifiques lots et en nombre: plus de 100 lots adultes et autant en enfants!
    C'est la boule au ventre qu'un certain nombre de tables sont mises en place le matin mais c'est avec une
    immense joie que l'on en rajoute encore et encore à partir de 14h!! 1358 cartons de vendus et une salle de
    l'Embarcadère de St Just St Rambert pleine!! C'est un immense succès, les participants repartent ravis, tout
    comme Maxence qui a profité d'un magnifique après-midi! Le mardi suivant, nous avons rendez-vous dans les
    locaux de l'Association des Paralysés de France afin de prendre les mesures des pieds de Maxence afin de lui
    confectionner ses premières chaussures orthopédiques. Il va enfin pouvoir être bien dans ses chaussures et
    ainsi corriger sa marche. Vendredi 25, nous sommes invités à un match de hand ball à Andrézieux Bouthéon.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/Handball.jpg"></app-vpd-image>
  </div>
  <p>
    ses frères assitent à un magnifique match. Le lendemain soir, direction Le Chambon Feugerolles afin
    d'assister au spectacle organisé par Anges des Eaux Vives: le Festi Ange.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/FestiAnge.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/FestiAngeCadeau.jpg"></app-vpd-image>
  </div>
  <p>
    A cette occasion, il est remis entre autre à Maxence un billet pour assister à un match de foot de l'ASSE
    en loge au Chaudron! Que du bonheur!! Les jours se suivent mais ne se ressemblent pas... Mercredi 30
    janvier, "toc toc" à la porte de la maison...
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/LoicPerrin.jpg"></app-vpd-image>
  </div>
  <p>
    Loïc Perrin, célèbre joueur de l'ASSE vient rendre visite à Maxence: Wouah!!! Ils passent un agréable moment
    ensemble à jouer aux petites voitures, dessiner, jouer aux jeux vidéo... Merci à Anges des eaux vives pour
    cette magnifique et incroyable rencontre et merci à Mr Perrin pour ce temps pris son emploi du temps très
    chargé.
  </p>
  <p>
    Samedi 2 février, toute la fraterie part faire une séance photo dans la galerie marchande d'un
    centre commercial. Maxence, tout comme ses frères se prête au jeu.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceTopModele.jpg"></app-vpd-image>
  </div>
  <p>
    Le résultat est superbe! Un semaine plus tard, c'est le rendez-vous tant attendu à St Etienne afin
    d'assister au match ASSE/Montpellier. Heureusement que Maxence est en loge car il neige... il neige,
    encore et encore!
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceStadeAsse.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceStadeAsse2.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceStadeAsseNeige.jpg"></app-vpd-image>
  </div>
  <p>
    Un match inoubliable car le ballon doit être changé afin de le voir sur la pelouse devenue blanche. Il faut
    même dégager le terrain durant le match!!! Mais la joie l'emporte car l'ASSE gagne!!! Le retour à St Just
    se fait très difficilement mais nous n'avons pas une minute à perdre car nous sommes attendus à l'Eglise
    pour un concert de Gospel donné au profit de l'association. Malheureusement le monde n'est pas au
    rendez-vous à cause des conditions climatiques très défavorable.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/GospelMaxenceEglise.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/GospelMaxenceMicro.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/GospelChanteuse.jpg"></app-vpd-image>
  </div>
  <p>
    Nous passons tout de même un très agréable moment et Maxence en profite pleinement, c'est tout se qui
    compte!!! Merci à Onde'n Gospel pour cette superbe soirée. Mardi 12 février, Maxence a ses nouvelles
    chaussures, il les adore!!
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/ChaussureOrtopedique.jpg"></app-vpd-image>
  </div>
  <p>
    Elles lui épousent parfaitement le pied. 8 jours plus tard, ce sont les nouvelles lunettes!
  </p>
  <p>
    Vendredi 22, Maxence rencontre Hacine Chérifi, champion du monde de boxe. Il est le représentant des enfants
    malades pourl'association Blé de l'Espérance.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/Chérifi.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/PompierMaxence.jpg"></app-vpd-image>
  </div>
  <p>
    Le lendemain, nous sommes invité à Sury le Comtal par les pompiers qui font un tournoi de foot en salle et dont
    le bénéfice est reversé pour moitié à notre association et l'autre moitié à la section foot fauteuil de St Just.
    Dans le même temps, l'exploitation agricole est mise en vente. Le métier d'agriculteur se concilie de moins en
    moins avec le quotidien de Maxence et les 3 frères à s'occuper en même temps. Par chance, un repreneur potentiel
    est intéressé et cela s'engage plutôt bien. Il est alors décidé de recherche un logement mieux adapté au
    quotidien de Maxence qui n'arrive plus à monter la côte menant à notre location actuelle, ni les escaliers entre
    autre. Nous sommes fin février et Maxence doit aller chez le docteur à cause de plusieurs infections qui se
    déclarent...un énième panari à l'orteil a percé, c'est donc moins douloureux mais reste inflammé.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxencePu.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceOnglePu.jpg"></app-vpd-image>
  </div>
  <p>
    Il refait des selles purulantes et surtout l'orifice de son cathéter n'est pas au top... Vendredi 22 mars, nous
    préparons notre bourse aux livres de printemps. Cela demande beaucoup de manutention mais ne coûte rien!
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/BourseAuxLivresSalleParc.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/BourseAuxLivresSalleParc2.jpg"></app-vpd-image>
  </div>
  <p>
    Le week end se déroule sans encombre, les lecteurs sont au rendez-vous: c'est à nouveau un succès! "Une routine"
    s'installe! Maxence va à l'école, la maladie se gère au quotidien: Que du bonheur!!
  </p>
  <p>
    Jeudi 11 avril nous allons à l'hôpital Necker. Maxence a rendez-vous avec son médecin référent en gastro
    entérologie. Elle est très satisfaite des 4 mois passés dernièrement à la maison: aucune septicémie. Par contre,
    concernant le projet de la multigreffe viscérale, il faut attendre une batterie d'examens qui vont se faire le
    31 mai.
  </p>
  <p>
    Le lendemain, nous recevons les wc chimiques commandés pour Maxence car il souhaite devenir autonome la nuit
    mais il est impossible pour lui de quitter sa chambre la nuit à cause des branchements. C'est un super cadeau à
    ses yeux!
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/WcChimique.jpg"></app-vpd-image>
  </div>
  <p>
    Suite au conseil du médecin de Necker, on cesse un des médicaments (inipomp 40mg): c'est une catastrophe.
    Maxence vomit beaucoup, a extrêment mal à l'estomac (10/10 sur l'échelle de la douleur). Nous ne supportons
    plus de le voir dans cet état d'autant qu'il se met à vomir du sang... Ni une ni deux, on reprend l'injection
    et l'on rajoure du spasfon. Il vomit tellement qu'il en devient "aphone" et qu'il se déplace à 4 pattes. La
    situation est pathétique.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceVomit.jpg"></app-vpd-image>
  </div>
  <p>
    Après une nuit douloureuse, la matinée a été reposante et les vomissements se sont estompés. Il n'a plus mal
    à l'estomac et a retrouvé sa voix perdue la veille à force de vomir... Ouf, c'est donc un retour à la normal
    dès la reprise du médicament. Maxence dit alors: "S'il vous plait, plus jamais çà... j'ai vraiment eu trop mal
    hier". Mercredi 17 avril, une longue journée attend Maxence car debout 6h. Mais la destination fait oublier le
    réveil: départ pour une journée dans un restaurant de Anne Sophie Pic grâce à la fondation KIWI.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceChefKiwi.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceChefKiwi2.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceChefKiwi3.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceChefKiwi4.jpg"></app-vpd-image>
  </div>
  <p>
    Maxence vit une vraie journée de cuisinier avec un groupe d'adolescent. Merci à l'animatrice du service de
    gastro entérologie de Lyon de l'avoir invité malgré son jeune âge. Quelques jours plus tard, direction le
    Zénith de St Etienne pour assister à unspectacle de magie Disney avec Mickey.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceSpectacleDisney.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceSpectacleDisney2.jpg"></app-vpd-image>
  </div>
  <p>
    Notre association y invite Angeline avec sa maman, petite fille très malade également (association Ange des
    eaux vives). Vendredi 3 mai: journée au bord de la mer au Grau du Roi. Journée entre frères au soleil!
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/GrauDuRoi.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/GrauDuRoi2.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/GrauDuRoi3.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/GrauDuRoi4.jpg"></app-vpd-image>
  </div>
  <p>
    Maxence redécouvre la mer. La dernière fois qu'il y était allé, c'était pour la découvrir il y a 2 ans grâce à
    Make a Wish. Quel agréable souvenir!! Les vacances scolaires se terminent et c'est le retour normal à l'école
    avant l'enchainement à plusieurs rendez-vous médicaux. Cela commence le 23 mai à Lyon avec une absorptiométrie
    osseuse, une détermination de l'âge osseux et prise de sang. Le lendemain, c'est à Paris, à l'hôpital Necker,
    rendez-vous en dermatologie. Le professeur du service vient à la rescousse du médecin censé nous recevoir: son
    diagnostic est formel, Maxence est atteint d'une dysplasie ectodermique de forme rare. L'équipe génétique a
    écarté la forme qui touche 95% des malades. Reste 180 formes différentes qui touche les 5% restants de
    malades... Il aura des prélèvements cutanés sous anesthésie locale vendredi prochain. Nous discutons alors
    avec le professeur des autres maladies attenantes à la displasie dont la dystrophie FSH
    (maladie neuromusculaire); beaucoup de ses soucis quotidiens (hormis digestifs) correspondent... Nous serons
    fixés vendredi prochain avec la série d'examens mais il y a de fortes chances (ou malchances...)
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/TestAdn.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/TestAdn2.jpg"></app-vpd-image>
  </div>
  <p>
    Suite aux examens à faire dans le cadre du bilan pré-greffe, les

    médecins se sont un peu plus penchés sur les malformations, autre que digestives, qui touchent Maxence. A
    partir de ce moment-là, dermatologues et neurologues ont été interpelés. Les services de l’hôpital Necker
    reprennent donc son dossier depuis le début :les examens s’enchaînent et les diagnostics tombent… Dysplasie
    ectodermique et dystrophie FSH : de nouveaux mots pour définir deuxnouvelles maladies rares (1/100 000). La
    dysplasie ectodermique désigne un ensemble de maladies qui affecte la peau, les cheveux et les dents. Les
    symptômes sont variés mais chez Maxence ils se présentent par des cheveux fins, secs et clairsemés ; des
    problèmes d’implantation dentaire ; une dysmorphie faciale ; une très grande intolérance à la chaleur associée
    à une sudation excessive ; une insensibilité des extrémités (mains et pieds) ; une très grande fragilité des
    ongles ; la sécheresse des voies aériennes (nez très sec) ; une hyperlaxité articulaire ; une densité osseuse
    particulière (ostéoporose) et une atteinte de l’appareil digestif (Hirschsprung et POIC). On distingue de
    nombreuses variétés de dysplasie ectodermique. Malheureusement Maxence ne fait pas parti de la plus commune,
    il va donc devoir subir des prélèvements de peau afin de déterminer la forme exacte (180 formes existantes).
    Concernant la dystrophie FSH (Facio-Scapulo-Humérale), c’est une maladie neuromusculaire. Chez Maxence, elle
    se caractérise sur le plan moteur où elle lui occasionne une difficulté à lever les bras, une gêne à l’écriture,
    un manque d’endurance à la marche, des difficultés à monter les escaliers, des déformations orthopédiques
    (impliquant le port de chaussures orthopédiques), des troubles du rythme cardiaque. D’autres symptômes
    accompagnent cette maladie, notamment chez Maxence, des troubles auditifs avec une perte des sons aigus et
    une surdité évolutive. Actuellement, il n’existe pas de traitement. Une prise en charge régulière en
    kinésithérapie motrice est importante car cettemaladie provoque certaines difficultés comme une lenteur
    gestuelle, une fatigabilité, une limitation de l’autonomie entre autre. Vendredi 31 mai, Maxence sera à Necker
    pour faire de nombreux examens complémentaires. La multigreffe viscérale (5 organes: estomac, foie, pancréas,
    intestin grêle, colon) n’est plus d’actualité pour l’instant… Neurologues et dermatologues (professeur) ont
    pris le relais des gastroentérologues qui ne peuvent pas prendre de risque. C’est un petit garçon très
    courageux qui va enchaîner de nombreuses consultations et examens plus ou moins invasifs. A 8 ans, il prend
    maintenant du recul, comprend sa situation mais ne comprend pas pourquoi le destin s’acharne autant sur lui :
    « Pourquoi moi ? Pourquoi tout çà ?? » Et quand on est parent, on se pose également de nombreuses questions :
    « Pourquoi mon enfant ? Qu’ai-je fait ? Quand cela s’arrêtera-t-il ? ». Après les doutes et sentiments
    d’injustice, il faut pourtant rebondir. C’est pourquoi, avec l’aide du groupe Easydis et tous leurs
    partenaires, une marche est organisée à Rivas, le 8 juin.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/EasyDisMarcheRivas.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/EasyDisMarcheRivas2.jpg"></app-vpd-image>
  </div>
  <p>
    L’année dernière, cette manifestation avait permis de financer un fauteuil massant qui lui sert au quotidien
    et qui est devenu un outil indispensable à Maxence. Cette année, nous finalisons le projet de financer un
    véhicule d’occasion que nous adapterons à ses besoins, ses handicaps : climatisation régulée, vitres
    athermiques, fauteuils pivotants, bac réfrigérant à 4°C (pour les poches d’alimentation parentérale), table
    (nécessaire pour disposer entre autre des champs stériles pour faire les soins), emplacement fauteuil roulant
    pliant, rideaux occultants (pour être à l’abris des regards lors des soins), etc. Nous souhaitons, grâce à ce
    véhicule, rompre l’isolement que nous impose la maladie tout en sécurisant les soins à apporter à chaque
    moment de la journée à Maxence. L’année passée (1ère édition), 200 marcheurs avaient participés, nous en
    espérons 400 pour cette édition !
  </p>
  <p>
    Le 31 mai, nous sommes à Necker et c’est à minuit que Maxence est couché et levé à 4h30 à cause de
    l'encéphalogramme du sommeil de l’après-midi.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/NeckerMAxence.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/NeckerMAxence2.jpg"></app-vpd-image>
  </div>
  <p>
    Il est en forme même si son ventre est douloureux depuis la veille au soir à cause de vomissements.
    La consultation génétique est faite ainsi que les prélèvements et bilans sanguins: même pas pleuré pour
    la prise de sang. Les prélèvements de peau se sont bien passés. Il restera à retirer les points de suture
    dans 10 jours. La généticienne puis la neurologue l'ont pris en photo sous tous les angles! Mais la journée
    n'a pas été sans difficulté car au moment d'aller à l'examen pour les PES, nous nous sommes présentés au
    bâtiment indiqué. Sauf qu'une fois arrivés, J’ai constaté qu'il était désafecté. Nous avons dû retourner d'où
    nous venions... Après avoir trouvé le bon pôle, l'accueil nous reçoit comme un chien en nous disant que cet
    examen n'existe pas!! Le comble! Elle nous envoie dans un bureau pour nous renseigner. Là on nous dit en
    regardant sur un ordi qu’il a bien des PES et PEA mais que c'est dans un autre bâtiment et que de toute façon
    pas la peine de se presser car ANNULÉS... Ni une ni deux je l'emmène dans ce service qui ne s'avère pas être
    encore là mais dans un autre bâtiment encore (vous suivez?!lol!). Arrivés au 1er étage de ce 4ème bâtiment, on
    nous confirme alors bien que c'est annulé depuis 10 jours car la personne s'est cassée le pied... J’ai les
    nerfs qui lâchent sachant toute la préparation pour son sommeil et la course folle que nous venions de faire
    sans fauteuil roulant pour Maxence que j'ai porté sur mon dos. Du coup nous sommes retournés dans un autre
    bâtiment pour qu’il fasse son IRM. Il a été félicité pour sa patience car il a tenu 30 minutes sans bouger
    (examen plus long que prévu car des clichés ont été rajoutés).
  </p>
  <p>
    Cet épisode de Necker passé, le 15 juin nous sommes à la fête de son école. C'est super!! Le thème de leur
    danse est le voyage d'Amélie Poulain. Il représente New York!
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/KermessMaxence.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/KermessMaxence2.jpg"></app-vpd-image>
  </div>
  <p>
    Mais le 18 juin il est aux urgences de l'hopital
    de St Etienne suite à un coup à la hanche qui date de jeudi... La douleur est à 8/10 lorsqu’il marche...
    Verdict: fracture de la dernière côte flottante mais on ne peut rien y faire...  Les jours suivants il retourne
    à l'école. Je lui fais des antidouleurs 3 fois par jour à base d'opium et il se déplace avec une canne car le
    fauteuil lui fait mal au dos au niveau de la côte cassée..
  </p>
  <p>
    L’après-midi du 29 juin, il retrouve Fabrice Devésa qui prépare l'enregistrement de son album, dont sa chanson
    "Maxence". Sortie prévue en septembre. Merci pour cet agréable moment où il ai pu apprendre beaucoup de choses
    sur la musique. 5 juillet : dernier jour d'école. Comme tous les enfants, il a hâte d'être en vacances le soir!
    Par contre, dès le lundi il retourneraà l'hôpital Necker pour rencontrer la neurologue.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxencePiano.jpg"></app-vpd-image>
  </div>
  <p>
    En attendant, c’est le 6 juillet, jour de notre premier tournoi de pétanque: 41 doublettes!
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/TournoisPetanqueJuillet.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/TournoisPetanqueJuillet2.jpg"></app-vpd-image>
  </div>

  <p>
    8 juillet, nous
    avons RDV avec la neurologue à Paris. Une hospitalisation sur 3 jours va être organisée en automne avec beaucoup
    d'examens dans différents domaines dont, entre autre, dermatologue, ergothérapeute, stomatologue, neuro
    psychiatre, neurologue, gastro entérologue, ORL... Pour l'instant, il y a trop de "domaines médicaux
    différents" de touchés pour confirmer les diagnostics. On attend beaucoup de la génétique. Une certitude
    concernant les premiers résultats de la biopsie de peau : il est albinos. Les journées suivantes étant rythmées
    par la chaleur, Maxence reste à la maison car avec la climatisation il s’y sent bien et ne se déshydrate pas
    mais le 27 juillet c’est la cata...
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceHospitalJuillet.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceHospitalJuillet2.jpg"></app-vpd-image>
  </div>
  <p>
    Sommes aux urgences car le broviac (catéther) s'est cassé au moment du débranchement. Nous attendons de savoir
    si St Etienne peut faire un kit de réparation sinon il faut aller sur Lyon. Le gros problème est que le catéther
    n'a pas pu être rincé et qu'il risque de se boucher si l'on attend trop longtemps... Après être baladés de
    service en service, une seule certitude : il n’y en a pas, direction Lyon. Seul hic : une fois à l’HFME, on
    nous apprend qu’il n’ont pas de kit de réparation pour ce type de broviac. On lui pose alors un cathlon afin
    de l’hydrater entre autre et nous y passons la nuit à Lyon. Le lendemain, 5h45 nous allons à Necker (Paris)
    en ambulance. Ils vont tenter de sauver son catéther en faisant un kit de réparation (il y en a un là-bas) et
    tenter de le déboucher (car depuis le temps il est bouché). Contre temps dans le départ. L'ambulance qui devait
    nous emmener s'est désistée dans la nuit car pas d'entente préalable de transport assurée par la caisse maladie
    (normal on est le week-end!). Du coup, on attend une autre société d'ambulance. On m’annonce que je devrai
    régler 2000€ (deux milles) d'acompte... Pas le choix! Super, çà continue! Une fois sur place, tout se passe à
    merveille : le cathéter est sauvé ! Quant aux frais de transport, je sympathise avec le transporteur qui
    m’assure qu’il facturera le voyage à l’HFME, ouf ! Maxence restera à la maison toute la semaine, sans sortir à
    cause des fortes chaleurs. Heureusement que sa chambre est climatisée, ainsi il ne perd pas de poids et est à
    l'aise. Il fait ses cahiers de vacances et joue aux jeux vidéo entre autre. Début août est un grand moment pour
    nous, ses parents, qui signons la vente de notre ferme. Papa commencera son nouveau travail dans 1 mois, le
    temps de mettre "en route" le nouveau propriétaire de la ferme. Il va travailler sur une ferme expérimentale
    avec entre autre des moutons. Me concernant, je suis l'aidant familial de Maxence par le biais de la PCH
    (Prestation de Compensation de Handicap). Un nouveau départ pour nous, une nouvelle vie pour notre famille! Dans
    la foulée, nous préparons notre déménagement... Nous n'allons pas bien loin car on reste à St Just St Rambert!
    Par contre, Maxence n’aura plus de côte pour accéder à la maison, plus d'escalier pour atteindre le 1er niveau
    de la maison, une salle qui va être aménagée pour qu’il fasse de la motricité et plein d'autres aménagements
    adaptés à l'avenir que lui réserve sa neuropathie. Il y a beaucoup de travaux à faire afin de préparer notre
    arrivée sans qu'il y ait de résidu de poussière entre autre à cause de son cathéter.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/NewHouse.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/NewHouse2.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/NewHouse3.jpg"></app-vpd-image>
  </div>
  <p>
    Nous nous sommes fixés comme objectif fin août pour y dormir sachant que de nouveaux locataires emménagent où
    nous sommes actuellement fin septembre. 16-20 août, je fais des détresses respiratoires. Je passe des examens
    car j’ai dû aller aux urgences : suspiscion de coqueluche qui sera confirmée plus tard…
  </p>
  <p>
    27 aout : C'est l'aboutissement de plus de 4 ans de projet:
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/Viano.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/VianoMaxence.jpg"></app-vpd-image>
  </div>
  <p>
    Il vient d'Allemagne, a 4 roues, n'a qu'1 an et que 30000kms au compteur. Il est noir, entièrement équipé pour
    y faire ses soins et qu'il y soit bien. Notre association a oeuvré depuis 2 ans avec des manifestations, des
    ventes de papillons, le soutien de Easydis avec la dernière marche afin de financer toutes les options, et
    voilà, il est là... Un véhicule aménagé: climatisation personnalisée, chauffage d'arrêt, points d'attache pour
    fauteuil électrique, vitres athermiques, table, sièges pivotants et qui s'allongent individuellement,
    abaissement du coffre pour monter mon fauteuil.... Il est parfait!
  </p>
  <p>
    Le matin du 1er sept c'est l'effervescence car on déménage la chambre de Maxence et nous habitons donc
    officiellement dans notre maison! Tout le matériel médical est installé dans notre chambre qui est juste à côté
    de celle de Maxence. Ainsi il a une vraie chambre d'enfant! Arrive très vite le 3 sept : la rentrée des classes.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/NewChambreMaxence.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/NewChambreMaxence2.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/NewChambreMaxence3.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/NewChambreMaxence4.jpg"></app-vpd-image>
  </div>
  <p>
    Elle s'est super bien passée. Maxence a retrouvé son maitre et ses camaradesde classe. Il y a juste son meilleur
    ami qui est parti. Sinon, super nouvelle: il a une classe de référence. C'est à dire que sa classe principale
    reste la CLIS mais pour l’histoire, la géo et les sciences, il va en classe normale de CE2! Nous sommes très
    fiers de lui ! Cette année,  nous l’inscrivons à 3 activités extra scolaires: il va apprendre la musique dans
    une section handicap à l’école de musique de St Just St Rambert, il va suivre des cours de cuisine 1
    fois /mois, et il va suivre des cours d’aquagym pour personnes handicapées également à St Just. Tout cela grâce
    à l’association !
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/SchoolMaxence.jpg"></app-vpd-image>
  </div>
  <p>
    A partir du 18 sept, il vomit beaucoup plus, ai fatigué et douloureux malgré le spasfon. Suite à une
    consultation à Lyon le 19, on augmente la dose des antispasmodiques. 27 sept, après avoir eu un mot du maître
    nous signalant que la veille Maxence s'était endormi sur son bureau; aujourd'hui il nous appelle pour nous
    dire qu’il vomit de plus en plus (et jaune donc des selles) et qu’il est douloureux et épuisé...
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceFatigue.jpg"></app-vpd-image>
  </div>
  <p>
    Du coup, il ne sera pas débranché ce week end en espérant que cela se calme... Malgré un branchement non-stop
    à l'alimentation parentérale, les vomissements empoisonnent toujours ses journées comme le 20 oct où la douleur
    est à 10 sur l'échelle de la douleur (maxi 10...). Rien n'y fait ce soir-là même l’estomac mis en siphonnage
    par la gastrostomie. Le seul espoir est que le lendemain il est moins mal. Mais chaque fois qu’il est recyclisé
    sur moins de 16h, il est très nauséeux et douloureux. Du coup, on décide de réorganiser son temps scolaire
    afin de s’adapter à ses durées de perfusions. Cela est possible grâce au véhicule dans lequel je lui fais ses
    soins sur le parking de l’école. Cet aménagement s’avère bénéfique : il vomit beaucoup moins. Ouf! Allant mieux,
    fin octobre (il ne fait pas trop chaud!), nous emmenons toute la petite famille à Walibi (chose impossible avant
    car nous n’avions pas de véhicule nous le permettant).
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/WalibiMaxence.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/Walibi.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/Walibi2.jpg"></app-vpd-image>
  </div>
  <p>
    Maxence est content, c'est le principal. Mais il peut faire très peu d'attractions car il ne le supporte
    plus... son petit frère Melvin de presque 5 ans en fait bien plus que lui...que la vie est injuste. Depuis
    quelques temps, Maxence a de plus en plus de pertes de selles avec du sang.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceTeleMelvin.jpg"></app-vpd-image>
  </div>
  <p>
    Il est hospitalisé d’urgence le 12 nov, on commence des lavements. Il en a 2 fois par jour afin de nourrir
    l'intestin. Il fait une pouchite.
  </p>
  <p>
    La date fatidique du 17 novembre est là et Maxence fête une fois encore son anniversaire à l’hopital.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/AnniversaireHopitalMaxence.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/AnniversaireHopitalMaxence2.jpg"></app-vpd-image>
  </div>
  <p>
    Dans le même temps, nous organisons notre rendez-vous du printemps avec nos amis lecteurs à notre bourse
    aux livres
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/BourseAuLivreJuillet.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/BourseAuLivreJuillet2.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/BourseAuLivreJuillet3.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/BourseAuLivreJuillet4.jpg"></app-vpd-image>
  </div>
  <p>
    Le 27 nov Maxence rentre à la maison avec de nouveaux soins à lui faire, dans un premier temps, pendant 3
    semaines: lavement avec anesthésiant avant. Il retournera le 9 décembre en hospitalisation de jour pour faire
    le point. Sinon il n’est pas en grande forme: il a très mal à la gorge et tousse en non-stop. Du coup il a
    rdv avec le médecin traitant le lendemain matin qui diagnostique une trachéite. Les jours qui suivent, il n’est
    pas en grande forme. Les nuits surtout sont rythmées par des vomissements, maux de ventre, toux, mal de gorge.
    Le docteur a donné différents médicaments mais dur dur pour soigner une trachéite quand on ne prendre rien par
    la bouche.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MamamnSoinMaxence.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MamamnSoinMaxence2.jpg"></app-vpd-image>
  </div>
  <p>
    Il doit faire des inhalations et c'est très dur pour lui de supporter un masque, cela lui rappelle tellement le
    bloc opératoire... paracétamol, antibiotique, homéopathie...viennent s' ajouter aux lavements et soins
    quotidiens. Pfff... Maxence ne réintègre l’école qu’à partir du 11 décembre après plus d’un mois d’absence.
    Les marchés de Noël ont commencé avec la fabrication non-stop de papillons.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/PapillonVente.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/PapillonVente2.jpg"></app-vpd-image>
  </div>
  <p>
    Notre association a été présente à la Grand Croix, Bourgoin Jallieu, Précieux et Carrefour d'Unieux le week-end
    dernier; et sera présente à l'Horme, Cellieu et St Just St Rambert ce week-end! Et même sur l’entreprise de
    Sanofi en région parisienne qui organise un marché de Noël sur l’entreprise. C'est important que ces ventes
    aient lieu pour l'association afin de financer les médicaments et pansements (entre autre) non pris en charge
    et nécessaire au quotidien en plus de projets à financer. Il ne s'agit pas d'attendre que cela "tombe tout cuit",
    nous sommes d'autant plus fiers de la dynamique de l’association car nous nous donnons la peine de la faire
    vivre et dans le même temps de tendre la main à d'autres enfants malade.
  </p>
  <p>
    6dec, nous sommes aux urgences de St Etienne... Maxence est tombé à la récréation sur son poignet gauche...il
    est très douloureux et enflé : forte suspiscion de fracture. La radio est très dure à interpréter à cause du
    mauvais état osseux de Maxence. Plâtre pour 2 semaines dans un premier temps puis on verra s'il y a une
    calcification et si la douleur disparait.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceSpa.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/MaxenceSpa2.jpg"></app-vpd-image>
  </div>
  <p>
    Le 25 décembre se fêtera en famille, tout simplement. Que cela fait du bien !
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.BLUE"    src="images/MaxencesHistory/2013/PereNoelFamille.jpg"></app-vpd-image>
  </div>
</app-history-container>
