<div class="app-under-section flex flex-col p-5 lg:p-0 lg:w-[85%] gap-10 lg:gap-16 ml-auto mr-auto items-center mt-3 lg:mt-16 mb-16">
  <div class="w-fit lg:mb-10">
    <h1 class="text-5xl lg:text-7xl text-primary-color text-center">Les soins hospitaliers</h1>
    <div class="bg-primary-color h-2 w-full hidden lg:block"></div>
  </div>
  <p>
    Maxence a régulièrement des visites de contrôle à l’hôpital de Lyon afin de le peser, le mesurer pour établir sa
    courbe de croissance, des prises de sang, des échographies du foie… Ainsi les médecins réajustent au mieux la
    composition des poches d’alimentation parentérale.
  </p>

  <p>
    Il va également à l’hôpital pour les cures d’Arédia afin de renforcer sa structure osseuse et diminuer ses douleurs
    osseuses. Cela se fait en hospitalisation de jour pendant 3 jours, tous les 6 mois. Dès que son alimentation
    parentérale est terminée, on lui perfuse l’arédia en contrôlant les fréquences cardiaques et la tension. Les risques
    sont une hypocalcémie, qui s’est déjà produite sur Maxence… Pour l’éviter, les poches d’alimentation parentérale
    sont supplémentées en calcium pendant plusieurs jours. Sinon on doit suspendre le traitement en étant hospitalisé,
    puis le reprendre dès que le taux de calcium est revenu à la normale.
  </p>

  <p>
    Maxence est également suivi par le service de la douleur de l’enfant pour palier aux douleurs insupportables
    sachant que Maxence a un taux de seuil de douleur très élevé… Il est resté avec une fracture du tibia pendant une
    semaine sans être immobilisé ni soulagé car pour lui ça ne faisait pas trop mal. Il a été plâtré pendant
    8 semaines sans avoir le droit de poser le pied au sol…
  </p>

  <p>
    Le service d’ORL le prend également en charge. Maxence doit avoir un diabolo en permanence dans l’oreille droite
    sinon il fait des otites séreuses. Il a également été opéré du nez en janvier 2010. Le médecin lui a redressé
    une paroi nasale qui l’empêchait de respirer et engendrait des rhinos chroniques.
  </p>

  <p>
    Enfin, Maxence est pris en charge à Lyon ou St Etienne pour les septicémies (antibiotique pendant 10 jours), les
    champignons dans le sang (retrait du cathéter et antifongique pendant 3 semaines) les perforations du cathéter
    pour lesquelles on fait un kit de réparation ou on le remplace (au bloc opératoire), les fractures entre
    autre.
  </p>

  <p>
    La prise en charge de Maxence à l’hôpital Necker à Paris a débuté en 2008. En 2014, il est pris en charge à la
    Fondation Rostchild (Paris) pour ses yeux. En 2015, il est pris en charge à la clinique Jacques Cartier (Massy)
    pour son coeur.
  </p>
</div>
