<div class="flex flex-col bg-background-color w-full items-center">
  <h1 class="text-6xl text-center lg:text-8xl text-primary-color mt-7 lg:mt-14 flex flex-col items-center">
    L'histoire de Maxence
  </h1>
  <app-time-line class="lg:w-[80%] ml-auto mr-auto"></app-time-line>
</div>
<app-year-2004></app-year-2004>
<app-year-2005></app-year-2005>
<app-year-2006></app-year-2006>
<app-year-2007></app-year-2007>
<app-year-2008></app-year-2008>
<app-year-2009></app-year-2009>
<app-year-2010></app-year-2010>
<app-year-2011></app-year-2011>
<app-year-2012></app-year-2012>
<app-year-2013></app-year-2013>
<app-year-2014></app-year-2014>
<app-year-2015></app-year-2015>
<app-year-2016></app-year-2016>

<app-go-up class="fixed bottom-5 right-5"></app-go-up>
