<div class="w-4/5 flex flex-col items-center ml-auto mr-auto mt-10 lg:mt-10 mb-20">
  <div class="flex flex-col items-center mb-10 lg:mb-16">
    <h1 class="text-4xl lg:text-7xl text-primary-color">Qui sommes-nous ?</h1>
    <div class="h-2 w-full bg-primary-color"></div>
  </div>
  <p>
    Vole Papillon d'Amour, association loi 1909, est née en 2010 afin de soutenir Maxence
    atteint de multiples maladies rares dues à une mutation cellulaire, 1er cas mis en
    évidence dans le monde.
  </p>

  <p>
    Elle met à sa disposition du matériel et un environnement propice à son autonomie et continuera
    à le faire tant qu'il en aura besoin.
  </p>

  <div class="flex flex-row justify-evenly flex-wrap items-center w-full mt-10 mb-10 gap-5">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.BLUE"
      [src]="'images/Association/maxence-aquarium.jpg'"
    ></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.BLUE"
      [src]="'images/Association/maxence-voiture.jpg'"
    ></app-vpd-image>
  </div>

  <p>
    Toutefois, depuis 5 ans, l'association apporte son aide à d'autres enfants et adolescents
    en souffrance en leur offrant ce dont ils ont besoin comme des ordinateurs,
    permis de conduire, séjour en famille dans des parcs d'attractions comme Disney,
    mobiliers adaptés, jeux éducatifs, tenues vestimentaires spécialisées, reste à charge
    de matériel médical ...
  </p>

  <div class="flex flex-row justify-evenly flex-wrap items-center w-full mt-10 lg:mb-10 gap-5">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.BLUE"
      [src]="'images/Association/maxence-aide.jpg'"
    ></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.BLUE"
      [src]="'images/Association/maxence-aide2.jpg'"
    ></app-vpd-image>
  </div>
</div>
