<div class="flex flex-col gap-10">
  <div class="flex flex-col gap-8 lg:flex-row lg:items-start">
    <div class="shrink-0">
      <app-vpd-image [backgroundColor]="BackgroundColorEnum.WHITE"
                     [rounded]="true"
                     [src]="vpdEvent().urlImage"
      ></app-vpd-image>
    </div>
    <div class="flex flex-1 flex-col gap-6 sm:flex-row sm:flex-wrap">
      <ng-content></ng-content>
    </div>
  </div>

  <div class="flex flex-col gap-4 border-t border-line-2 pt-8">
    <app-group-heading title="Détails"></app-group-heading>
    <p class="text-[15px] leading-relaxed text-slate">{{ vpdEvent().description }}</p>
  </div>
</div>
