<app-history-container [Year]="2010" [Title]="'Maxence a 6 ans'">
  <p>
    Le début de l’année 2010 a été marquée par une importante intervention chirurgicale d’ORL. Il lui a été
    refait tout l’intérieur de son nez car une narine était complètement fermée entraînant une rhino chronique
    depuis deux ans (entraînant une antibiothérapie à domicile post opératoire pendant 8 jours).
  </p>
  <p>
    De plus, Maxence vient d’avoir une très forte otite lui perforant le tympan et faisant sécréter beaucoup
    de pu. Un lourd traitement antibiotique est alors mis en place par voie intra-veineuse toutes les 6 heures
    pendant 8 jours (à 6h, 12h, 18h et minuit) tout cela assuré par les parents.
  </p>
  <p>
    Bien que les hôpitaux de Lyon et Paris souhaitent reprendre Maxence dans leurs services afin de trouver
    une solution pour le sevrer en partie de son alimentation parentérale car son foie risque sous peu d’avoir
    des problèmes et demander une greffe, nous voulons le laisser tranquille pour l’instant et nous consacrer à
    sa scolarité. Maxence est insociable et n’est scolarisé que 1h par jour. Il devait rentré dans un nouvel
    établissement en septembre à St Etienne afin de suivre un CP adapté à ses handicaps, mais faute de place et
    avec un handicap "non connu", Maxence est scolarisé dans la même école que ses frères en grande section de
    maternelle à St Bonnet le Château (voir chapitre "école et orthophonie").
  </p>
  <p>
    Les troubles de l’oralité étant très importants, il a pris du retard sur le langage : ne sachant ni manger,
    ni boire, il ne sait pas positionner ses lèvres et sa langue. Il doit tout apprendre alors que cela devrait
    se faire instinctivement (souffler et faire des bisous ont été un long apprentissage). Il travaille une fois
    par semaine avec une orthophoniste.
  </p>
  <p>
    Fin juin, le cathéter s'est perforé (usure). Maxence est emmené d'urgence à St Etienne car il ne peut plus
    être "alimenté" sur cette voie. Il est accueilli en réanimation. Après deux tentatives de réparations,
    il est transporté 5 jours plus tard à Lyon en urgence où l'on réussit l'intervention. La septicémie est
    évitée.
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/MaxenceBabyHospital.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/Ambulance.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/HospitalDoors.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/MaxenceBabyHospital2.jpg"></app-vpd-image>
  </div>
  <p>
    Suite à une mauvaise réception, Maxence s'est fait mal au poignet gauche. Devant la persistance de la
    douleur, et malgré rien de bien visible à la radio, il a été plâtré durant 3 semaines. Au retrait de ce
    dernier, la douleur avait disparue...
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/MaxencePlatre.jpg"></app-vpd-image>
  </div>
  <p>
    Il a été invité par l'Association "l'Orchidée" à faire son baptême de l'air en avion en Isère: quel moment
    magique que de voler quand les 3/4 du temps il est tenu par un fil à une machine...
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/MaxencePlane.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/MaxencePlane2.jpg"></app-vpd-image>
  </div>
  <p>
    L'été se passe bien. Nous organisons même nos toutes premières vacances, 1 semaine loin de la maison et de
    la ferme! Quelle merveilleuse aventure. Par contre, devant le volume très importants de bagages, surtout
    dus au soins de Maxence, nous devons partir à deux voitures...
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/MaxenceHolidaysBeech.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/FamilyHolidaysBruxelle.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/FamilyHolidaysAsterix.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/FamilyHolidaysGrimace.jpg"></app-vpd-image>
  </div>
  <p>
    Maintenant ce sont les dents qui lui font mal. Ne mangeant pas, les dents de lait n'arrivent pas à tomber.
    Il a rendez-vous au service de la douleur de Lyon le 7 octobre pour voir comment le soulager car aucun
    des antalgiques courant (par voie veineuse) ne le soulage.
  </p>
  <p>
    Vendredi 5 novembre: anniversaire du petit frère Melvin, 2 ans. Maxence attendait ce moment avec impatience
    depuis plusieurs jours. Malheureusement, à 20h il se met à frissonner et la température monte très
    rapidement. Il est alors hospitalisé d'urgence à St Etienne: septicémie. Deux bactéries digestives sont
    présentent.
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/MaxenceHospitalRoomNumber.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/MaxenceHospitalBed.jpg"></app-vpd-image>
  </div>
  <p>
    Alors qu'il est sur la voie de la guérison et que l'on s'apprête à fêter son anniversaire mercredi 17 dans
    le service où il est hospitalisé, il se remet à frissonner et la température remonte en flèche... résultat:
    l'une des bactéries est toujours là en plus d'un champignon dans le sang.
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/MaxenceBirthday.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/MaxenceBirthdayWithFamily.jpg"></app-vpd-image>
  </div>
  <p>
    Les jours suivants sont durs... Du coup, il ne peut se rendre au match de foot le samedi soir au stade de St
    Etienne suite à une invitation de l'ASSE, quelle déception... Maxence est transféré lundi 22 à Lyon et part
    au bloc pour retirer son cathéter colonnisé... Une voie veineuse est posée au bloc 5 jours plus tard, et est
    remise en place 4 jours après, de nouveau au bloc.
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/MaxenceBirthdayInHospitalBed.jpg"></app-vpd-image>
    <!-- TODO VIDEO -->
  </div>
  <p>
    Maxence est retransféré à St Etienne pour terminer l'antibiothérapie sur sa voie veineuse provisoire et sort
    le 7 décembre en ayant de fortes douleurs osseuses dues à l'ostéoporose l'obligeant à être en fauteuil
    roulant.
  </p>
  <p>
    Le week-end du 18 et 19 décembre ont été marqués par la féérie de Disney grâce à l'association l'Orchidée
    et un groupe génial de trois étudiantes de Lyon.
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/FamilyDisneyWithMickey.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/FamilyDisney.jpg"></app-vpd-image>
  </div>
  <p>
    Lundi 20, retour au bloc pour la pose du nouveau broviac. Perfusion d'arédia pour l'ostéoporose pendant 3 jours,
    tout allait bien jusqu'au vendredi 24 décembre, date du départ de Lyon: septicémie... retour à la case départ et
    l'on reste à Lyon pour Noël avec un petit homme bien malade... Le 31 décembre, retour au bloc pour retirer le
    broviac car le champignon est réapparu dans les bilans, c'est une catastrophe.
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/ChrismasHospitalGifts.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/ChrismasHospitalMaxence.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/ChrismasHospitalFamily.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2010/ChrismasHospitalMaxenceBed.jpg"></app-vpd-image>
  </div>
</app-history-container>
