<div class="app-under-section flex flex-col p-5 lg:p-0 lg:w-[85%] gap-10 lg:gap-16 ml-auto mr-auto items-center mt-3 lg:mt-16 mb-16">
  <div class="w-fit ">
    <h1 class="text-5xl lg:text-7xl text-primary-color text-center">Les soins quotidiens à la maison</h1>
    <div class="bg-primary-color h-2 w-full hidden lg:block"></div>
  </div>

    <p>
      Maxence a de nombreux soins sur 24 heures. Ces soins sont contraignants mais vitaux... Voici les principaux
      sachant que depuis août 2015, L'alimentation entérale est venue se greffer à l'alimentation parentérale
    </p>

  <app-under-section Title="Les branchements et débranchements de l'alimentation parentérale:">
    <p>
      ans certaines maladies, les besoins alimentaires qui sont normalement absorbés par l'intestin à la suite des
      repas ne peuvent pas l'être. Ils sont alors totalement apportés directement dans les veines par perfusion
      réalisant l'alimentation parentérale. Ce type de traitement souvent utilisé à l'hôpital peut l'être à domicile
      en cas de maladie longue ou définitive, empêchant l'absorption par l'intestin.
    </p>

    <p>
      Les perfusions parfaitement stériles, sont présentées sous forme de poches souples renfermant les éléments
      nutritifs, les électrolytes, les vitamines et les oligoéléments. Elles sont perfusées dans une veine profonde
      (veine sous-clavière) par l'intermédiaire d'un cathéter. La vitesse de perfusion est contrôlée par l'intermédiaire
      d'une pompe électrique munie d'alarme. Ces poches sont perfusées sur 14h tous les jours pour Maxence, voire sur
      plus longtemps s'il ne se sent pas. Ces poches sont fabriquées toutes les semaines, sous la responsabilité d'un
      pharmacien de l'hôpital de Lyon, et livrées à domicile en véhicule réfrigéré tous les lundis, sans rupture de la
      chaîne du froid.
    </p>

    <p>
      La chambre de Maxence est équipée d'un réfrigérateur dans lequel on stocke les poches d'alimentation parentérale.
      Grâce à l'association AEC, nous avons pu l'aménager de meubles avec de nombreux rangements et avoir une desserte
      roulante en inox sur laquelle on prépare les branchements et débranchements. Il y a également un lit médicalisé
      électrique, offert par l'association "Un but pour Seb", permettant de faire des soins sans se "casser" le dos
      entre autre.
    </p>

    <p>
      Avant toute manipulation, il faut se laver les mains. C'est la mesure la plus importante et la plus facile à
      réaliser pour la prévention des infections. L'utilisation d'un savon antiseptique, de l'eau tiède, de la friction,
      pendant deux minutes, enlève la saleté, les débris et la plupart des micro-organismes de notre peau. Ensuite tous
      les soins se font en stériles. Un branchement dure en moyenne 45 minutes et un débranchement 20 minutes
      durant lesquels il a une injection d'Inipom 40mg (médicament limitant l'acidité dans l'estomac) entre autre....
    </p>
  </app-under-section>

  <app-under-section Title="La gastrostomie :">
    <p>
      Les soins du bouton de gastrostomie se font au moins 3 fois par jour. La peau est tout le temps brûlée autours car
      l'estomac se vidangeant très mal, il est "sous pression" et cela engendre des fuites de suc gastrique et donc
      acide... il faut donc après avoir nettoyé la peau à l'eau savonneuse, mettre des pansements "protecteurs et
      absorbeurs".
    </p>
  </app-under-section>

  <app-under-section Title="L'iléostomies :">
    <p>
      Les soins de l'iléostomies se font normalement 1 fois par jour (voir plus). Cela consiste à nettoyer la stomie
      à l'eau savonneuse puis de l'appareiller. Elle sécrète les selles. Le support collé sur la peau doit être découpé
      juste au bon diamètre afin que les selles très acides ne la brule pas.
    </p>
  </app-under-section>

  <app-under-section Title="Les antibiotiques :">
    <p>
      Lorsque Maxence rentre à la maison et qu'il est sous antibiotique, nous utilisons des "baxters" qui diffusent
      le médicament à la vitesse souhaitée sans utiliser de pompe. Cela le rend plus libre de ses mouvements. Lorsqu
      e ce n'est pas possible avec ce matériel, nous utilisons le traditionnel pousse-seringue, qui reste intransportable
      si nous devons sortir.
    </p>
  </app-under-section>
</div>
