<div class="flex flex-col rounded-3xl border-4 border-primary-color p-5 bg-white w-full sm:w-[430px] sm:h-[650px] max-h-[650px] sm:max-h-none">
  <div class="flex flex-row items-center">
    <div class="bg-primary-color h-8 w-4"></div>
    <h2 class="text-primary-color text-3xl ml-5">{{ActualityModel().title}}</h2>
  </div>
  <img [src]="ActualityModel().urlPrincipalImage" class="rounded-3xl w-auto h-auto mt-5 mb-5 max-h-[450px]">
  <p #article class="article-box text-xl text-justify text-text-color overflow-hidden mb-2">{{ActualityModel().article}}</p>
  <div class="flex-row flex lg:mt-auto justify-between mt-auto">
    <a [routerLink]="'/actualite/' + ActualityModel().id" class="flex flex-row text-2xl">
      Lire la suite >
    </a>
    <div class="flex flex-row">
      <img src="icons/calendar-icon.svg" height="35" width="35" class="mr-3">
      <h3 class="text-primary-color text-2xl text-justify">
        {{ActualityModel().date | date:'dd/MM'}}
      </h3>
    </div>
  </div>
</div>

