<div class="flex flex-col items-center sm:flex-row sm:w-screen overflow-hidden sm:p-0 p-3">
  <div class="w-full sm:w-2/3 flex mt-10 sm:mt-0">
    <div class="sm:m-auto w-full sm:w-[85%] names relative">
      <div class="flex flex-row w-fit ml-auto mr-auto papillon">
        <h1 class="text-center">Vole Papillon d'Amour</h1>
        <img class="hidden left-0 sm:block h-16 lg:h-24 mt-2" src="logos/papillon_without_back.png">
      </div>
      <div class="flex flex-row justify-evenly relative">
        <img class="sm:hidden h-14 absolute left-0 top-1" src="logos/papillon_without_back.png">
        <h1 class="ml-auto mr-auto">&</h1>
        <img class=" sm:hidden h-20 absolute right-0 -top-1" src="logos/logo_bulle_de_poils_sans_fond.jpeg.png">
      </div>
      <div class="flex flex-row w-fit ml-auto mr-auto bulle">
        <h1>Bulle de Poils</h1>
        <img class="hidden sm:block h-20 lg:h-32" src="logos/logo_bulle_de_poils_sans_fond.jpeg.png">
      </div>
    </div>
  </div>
  <div class="w-1/3 sm:mt-0 mt-10">
    <form [formGroup]="loginForm" class="flex flex-row sm:h-screen">
      <div class="w-4/5 sm:w-1/3 flex flex-col items-center mt-auto mb-auto sm:ml-[20%] ml-auto mr-auto">
        <h1 class="font-librebaskerville text-5xl">Connexion</h1>

        <app-input
          [form]="loginForm"
          [required]="true"
          class="mt-10"
          controlName="username"
          placeholder="Identifiant"
        ></app-input>

        <app-input
          [form]="loginForm"
          [isPassword]="true"
          [required]="true"
          class="mt-10"
          controlName="password"
          placeholder="Mot de passe"
        ></app-input>

        @if (error()) {
          <p class="text-red-700 font-librebaskerville text-xl mt-10 w-4/5 text-center">{{ error()?.toString() }}</p>
        }

        <app-button-login (click)="onLoginClick()" class="mt-10">Connexion</app-button-login>
      </div>
    </form>
  </div>
</div>
