@import "../../../scss/main";

h1 {
  color: $primary-color;
  width: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  @apply font-dancing text-4xl lg:text-6xl xl:text-7xl;
}

.names h1 {
  color: white;
}

.names {
  background: linear-gradient($primary-color, $primary-color) padding-box,
  linear-gradient(to right, #edc273 0%, #9a754d 63%, #edc273 100%) border-box;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  border: 4px solid transparent;
  border-radius: 25px;
  padding: 15px;
}

.papillon img {
  margin-left: 10px;
}

.bulle img {
}
