<div class="flex flex-col gap-10">
  <app-general-infos [vpdEvent]="vpdEvent()">
    <app-section-infos-event
      Title="Date"
      UrlIcon="icons/calendar-icon.svg"
      [Value]="vpdEvent().dateStart | date: 'dd/MM/yyyy':'UTC'"
    ></app-section-infos-event>

    <app-section-infos-event
      Title="Lieu"
      UrlIcon="icons/location-icon.svg"
      [Value]="vpdEvent().roadNumber + ' ' + vpdEvent().road + '<br>' + vpdEvent().cityCode + ' ' + vpdEvent().city"
    ></app-section-infos-event>

    <app-section-infos-event
      Title="Ouverture des portes"
      UrlIcon="icons/door-icon.svg"
      [Value]="vpdEvent().hourOpenDoors | date: 'HH:mm' :'UTC'"
    ></app-section-infos-event>

    <app-section-infos-event
      Title="Heure de début"
      UrlIcon="icons/clock-icon.svg"
      [Value]="vpdEvent().dateStart | date: 'HH:mm':'UTC'"
    ></app-section-infos-event>
  </app-general-infos>

  <div class="flex flex-col gap-6 border-t border-line-2 pt-8">
    <div class="flex items-center justify-between gap-4">
      <app-group-heading title="Lots du loto"></app-group-heading>
      <app-pill-button (click)="openCreatePartie()" type="button" [small]="true" class="shrink-0">
        <app-icon name="add" [size]="15"></app-icon>
        Créer une partie
      </app-pill-button>
    </div>

    @if (vpdEvent().parties.length === 0) {
      <p class="text-[15px] text-slate-2">Liste des lots prochainement disponible…</p>
    } @else {
      <div class="grid grid-cols-1 gap-6 lg:grid-cols-2 2xl:grid-cols-3">
        @for (partie of vpdEvent().parties; track partie.id) {
          <app-partie-card [Partie]="partie" [Event]="vpdEvent()" (eventUpdated)="eventUdpated($event)"></app-partie-card>
        }
      </div>
    }
  </div>
</div>
