<app-history-container [Year]="2007" [Title]="'Maxence a 3 ans'">
  <p>
    L’année 2007 sera chaotique : 2 septicémies dont une avec choc septique, fracture spontanée du tibia d’où
    la mise en évidence d’une ostéoporose très sévère, diverses hospitalisations pour des nausées et essayer de
    trouver la raison et une solution pour les estomper (sans succès).
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2007/MaxencePotence.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2007/MaxenceToboggan.jpg"></app-vpd-image>
  </div>
</app-history-container>
