<div class="flex flex-col w-full p-5 lg:p-10 font-caveatbrush">
  <div class="relative flex w-full items-center ml-auto mr-auto">
    <div class="mb-10 lg:mt-5 flex flex-row ml-auto mr-auto items-center">
      <h1 class="text-primary-color text-6xl lg:text-8xl text-center">Tous les évènements</h1>
      <img class="hidden lg:block h-[100px] ml-5" fetchpriority="high" src="icons/calendar-icon.svg" alt="Calendrier des évènements">
    </div>
    <app-vpd-button (click)="openDialogCreation()" (keydown.enter)="openDialogCreation()" class="right-10 top-10 hidden absolute lg:block">
      Créer un évènement
    </app-vpd-button>
    <button
      (click)="openDialogCreation()"
      class="rounded-full bg-white border-primary-color border-2 text-primary-color text-3xl right-0 top-0 absolute lg:hidden"
      style="padding: 0px 10px">
      +
    </button>
  </div>

  <div class="flex flex-col mb-10">
    <div class="flex flex-col mb-10">
      <h2 class="text-primary-color text-4xl lg:text-6xl">Les lotos</h2>
      <div class="h-2 w-full bg-primary-color"></div>
    </div>

    <div class="flex flex-row flex-wrap gap-10 gap-y-5">
      @for (event of allBingoEvents(); track event.id) {
        <app-event-card
          (eventDeleted)="onEventDeleted($event)"
          (eventUpdated)="onEventUpdated($event)"
          [VpdEvent]="event"></app-event-card>
      }
    </div>
  </div>

  <div class="flex flex-col mb-10">
    <div class="flex flex-col mb-10">
      <h2 class="text-primary-color text-4xl lg:text-6xl">Les bourses aux livres</h2>
      <div class="h-2 w-full bg-primary-color"></div>
    </div>

    <div class="flex flex-row flex-wrap gap-10 gap-y-5">
      @for (event of allBooksEvents(); track event.id) {
        <app-event-card
          (eventDeleted)="onEventDeleted($event)"
          (eventUpdated)="onEventUpdated($event)"
          [VpdEvent]="event"></app-event-card>
      }
    </div>
  </div>

  <div class="flex flex-col">
    <div class="flex flex-col mb-10">
      <h2 class="text-primary-color text-4xl lg:text-6xl">Les autres évènements</h2>
      <div class="h-2 w-full bg-primary-color"></div>
    </div>

    <div class="flex flex-row flex-wrap gap-10 gap-y-5">
      @for (event of allOtherEvents(); track event.id) {
        <app-event-card
          (eventDeleted)="onEventDeleted($event)"
          (eventUpdated)="onEventUpdated($event)"
          [VpdEvent]="event"></app-event-card>
      }
    </div>
  </div>
</div>

