<app-history-container [Year]="2004" [Title]="'Sa naissance'">
  <p>
    Maxence  est né le 17 novembre 2004 à Firminy après une grossesse qui s’est bien déroulée en dehors
    d’une stagnation de poids au cours du 3ème trimestre.
  </p>
  <app-vpd-image
    [backgroundColor]="BackgroundColorEnum.WHITE"
    src="images/MaxencesHistory/2004/MaxenceBaby.jpg"></app-vpd-image>
  <p>
    Il  pèse 3kg120. Il présente tout de suite un tableau occlusif avec des  vomissements et un ballonnement
    abdominal important. Il est vite muté au  service de réanimation de St Etienne. On suspecte alors la
    maladie de  Hirschsprung, maladie rare (1 naissance sur 5000) qui présente une  paralysie intestinale due à
    l’absence de cellules ganglionnaires nerveuses dans la paroi intestinale. Le traitement est chirurgical:
    il  consiste à ôter le segment aganglionnaire.
  </p>
  <app-vpd-image
    [backgroundColor]="BackgroundColorEnum.WHITE"
    src="images/MaxencesHistory/2004/MaxenceBabyAndMom.jpg"></app-vpd-image>
  <p>
    Il  est donc décider de faire des biopsies rectales afin de confirmer le  diagnostic. Il en résulte
    bien une aganglionose totale sur plusieurs  centimètres et donc la maladie de Hirschsprung.
    Malheureusement Maxence  doit être repris d’urgence au bloc opératoire 2 jours plus tard pour une
    péritonite due à une perforation faite durant la biopsie (pince mal  réglée). Il faut mettre
    l’intestin au repos, on fait donc une  colostomie. On lui administre alors une triple antibiothérapie
    (par voie  veineuse) pour combattre l’infection: c’est alors qu’il présente un  pneumothorax car la
    veine utilisée était trop petite...
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2004/MachineHospital.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2004/MaxenceBabyIntube.jpg"></app-vpd-image>
  </div>
  <p>
    Il  restera aux soins intensifs jusqu’au 24 décembre (1 mois) durée pendant  laquelle sa prise
    pondérale ne sera que de 100g. Maxence séjournera  ensuite en pédiatrie pour prise en charge nutritionnelle.
    Après 3 mois,  son poids va passer de 3kg100 à 4kg480, il a 4 mois. Durant ce séjour,  il aura eu
    gastro-entérite et bronchiolite... sans sortir!
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2004/MaxencePyjamaVert.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2004/MaxencePyjamaVert2.jpg"></app-vpd-image>
  </div>
  <p>
    Il rentre alors à la maison le 21 mars 2005 en étant alimenté par sonde nasogastrique avec un
    lait fortement épaissi. Le diagnostic est alors : maladie de Hirschsprung associée à une
    imperforation du conduit auditif externe gauche (aucune audition du côté gauche) et tachycardie
    inexpliquée.
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2004/MaxencePyjamaJaune.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2004/MaxencePyjamaBleu.jpg"></app-vpd-image>
  </div>
  <p>
    Les troubles de l’oralité persistant et Maxence vomissant énormément, il rentra à l’hôpital Edouard
    Herriot de Lyon le 13 mai.
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2004/MAxenceBabyBed.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2004/MaxencePyjamaOrange.jpg"></app-vpd-image>
  </div>
  <p>
    Le 13 juin, il fut opéré pour remettre son intestin en continuité (enlever la colostomie),
    faire une gastrostomie pour continuer à l’alimenter avec du lait (arrêter la sonde nasogastrique
    qu’il arrachait constamment) et enfin poser un cathéter central afin de compléter son alimentation si
    sa prise de poids n’augmentait pas.
  </p>
  <div class="multiple-images">
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2004/MaxencePyjamaBlanc.jpg"></app-vpd-image>
    <app-vpd-image
      [backgroundColor]="BackgroundColorEnum.WHITE"
      src="images/MaxencesHistory/2004/MaxencePyjamaBlanc2.jpg"></app-vpd-image>
  </div>
  <p>
    Devant les difficultés d’alimentation et la non prise de poids, l’alimentation parentérale a débutée le 4 juillet
    (couplée avec le lait par la gastrostomie) pour être exclusive le 7 septembre.

    Maxence a connu 8 tableaux sub-occlusifs dont le dernier, le 12 octobre, s’est soldé par une cure
    chirurgicale (tableau occlusif). Il y a une suspicion de trouble de la motricité et une mise en double
    iléostomie. Des biopsies sont à nouveau effectuées : anomalie de l’innervation prédominant sur le
    colon et touchant aussi le grêle : la P.O.I.C....
  </p>
</app-history-container>

