<section>
  <article>
    <div>
      <ul>
        @for (p of partners; track p.url) {
          <li>
            <a href="{{p.url}}" target="_blank">
              <img src="{{p.logo}}"/>
            </a>
          </li>
        }
      </ul>
    </div>
    <div>
      <ul>
        @for (p of partners; track p.url) {
          <li>
            <a href="{{p.url}}" target="_blank">
              <img src="{{p.logo}}"/>
            </a>
          </li>
        }
      </ul>
    </div>
  </article>
</section>


