img {
  display: block;
  cursor: pointer;
}

section {
  width: 200%;
  @apply w-[200%] sm:w-[100%];
  overflow: hidden;
  //-webkit-mask: linear-gradient(90deg,#0000,#000 5% 95%,#0000);
}

article {
  display: flex;
  align-items: center;
  width: 200%;
  animation: bannermove 10s linear infinite;
}

article.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

div {
  width: 100%;
}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding-left: 0;
  margin: 0;
}

li {
  width: 100%;
  margin-left: 10%;
}

@keyframes "bannermove" {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
