<div [ngClass]="{
     'rounded-3xl': rounded(),
     'p-4 md:p-5': backgroundColor() !== null,
     'bg-primary-color': backgroundColor() !== null && backgroundColor() === BackgroundColorEnum.BLUE,
     'bg-white': backgroundColor() !== null && backgroundColor() === BackgroundColorEnum.WHITE}"
     class="flex justify-center items-center">
  <img [src]="src()"
       alt="image"
       class="max-w-[250px] sm:max-w-[250px] md:max-w-[250px] lg:max-w-[350px] xl:max-w-[450px] max-h-[250px] sm:max-h-[250px] md:max-h-[250px] lg:max-h-[350px] xl:max-h-[450px] w-auto h-auto">
</div>


