<app-general-infos [vpdEvent]="vpdEvent()">
  <app-section-infos-event
    Title="Date"
    UrlIcon="icons/calendar-icon.svg"
    [Value]="vpdEvent().dateStart | date: 'dd/MM/yyyy':'UTC'"
  ></app-section-infos-event>

  <app-section-infos-event
    Title="Heure de début"
    UrlIcon="icons/clock-icon.svg"
    [Value]="vpdEvent().dateStart | date: 'HH:mm':'UTC'"
  ></app-section-infos-event>

  <app-section-infos-event
    Title="Lieu"
    UrlIcon="icons/location-icon.svg"
    [Value]="vpdEvent().roadNumber + ' ' + vpdEvent().road + '<br>' + vpdEvent().cityCode + ' ' + vpdEvent().city"
  ></app-section-infos-event>

  @if (vpdEvent().urlRegistration !== null) {
    <app-section-infos-event
      Title="S'enregistrer"
      UrlIcon="icons/signe.png"
    >
      <app-pill-button
        ngProjectAs="value"
        [href]="vpdEvent().urlRegistration!"
        target="_blank"
        [small]="true">C'est par ici →</app-pill-button>
    </app-section-infos-event>
  }
</app-general-infos>
