<mat-dialog-content class="h-fit !flex flex-col lg:!max-h-[80vh]">
  <h1 class="font-caveatbrush text-4xl lg:text-6xl text-primary-color ml-auto mr-auto">
    {{ updateLot() !== null ? "Modifier une partie" : "Nouvelle Ligne" }}
  </h1>
  <div class="h-1 bg-primary-color w-full"></div>
  <form [formGroup]="newLotForm" class="flex flex-col w-full mt-5">
    <div class="w-full">
      <h1 class="font-caveatbrush text-3xl lg:text-4xl text-primary-color">Titre :</h1>
      <mat-form-field appearance="fill" class="w-full mt-3">
        <mat-label>Titre</mat-label>
        <input class="w-full" formControlName="name"
               matInput placeholder="Titre">
      </mat-form-field>
    </div>

    <div class="flex w-full">
      <div class="mt-auto mb-auto flex flex-col">
        <div class="flex flex-col lg:flex-row">
          <p class="font-caveatbrush text-3xl lg:text-4xl text-primary-color mb-3">Image :</p>
          <div class="ml-5 mt-2 mb-5 lg:mb-0">
            <input #fileInput
                   (change)="ImageUtils.onFileSelected(document.getElementById('file-lot'), principalImage)"
                   [required]="true"
                   formControlName="image"
                   hidden id="file-lot" required type="file"
            >
            <button (click)="fileInput.click()" mat-raised-button
                    type="button">Choisir une image
            </button>
          </div>
        </div>
        @if (this.principalImage().fileContent !== '') {
          <div class="preview-img-container ml-auto mr-auto">
            <img [src]="this.principalImage().fileContent" alt="Image du lot">
          </div>
        }
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  @if (isLoading()) {
    <mat-spinner class="ml-5 mr-5" diameter="30"></mat-spinner>
  } @else {
    <button (click)="onNoClick()" cdkFocusInitial mat-button>Annuler</button>
    <button (click)="onYesClick()" mat-button>{{ updateLot() !== null ? "Modifier" : "Créer" }}</button>
  }
</mat-dialog-actions>

