.preview-img-container {
  max-width: 200px;
  max-height: 400px;
  height: 100%;
  width: 100%;
  margin: auto;
}

.preview-img-container img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
