<div class="flex flex-row gap-2 w-full pt-3 pb-3 items-center">
  @if (LinePartie().lots.length > 1) {
    <img class="h-5 sm:ml-0 -ml-4" src="icons/arrow-left-triangle.svg" (click)="previousLot()">
  }
  <div class="bg-primary-color flex flex-row rounded-3xl p-3 w-full sm:gap-5 gap-2">
    <div
      class="flex bg-white rounded-3xl sm:h-[100px] p-2 sm:p-2 mt-auto mb-auto sm:flex-[1_0_100px] h-[75px] flex-[1_0_75px]">
      <img [src]="currentLot().urlImage" class="m-auto h-full w-auto">
    </div>
    <div class="flex flex-col w-full gap-3">
      <div class="flex flex-row w-full justify-between">
        <div class="title-lot">
          {{ LinePartie().numberLine | lineNumberTitle }}
        </div>
        <div class="flex flex-row gap-2  top-2 ">
          <button
            (click)="openDialogAddPartieLine(LinePartie().numberLine)"
            class="rounded-full bg-white border-primary-color border-2 text-primary-color p-2">
            <img class="h-4" fetchpriority="high" src="icons/plus.png">
          </button>
          <button
            (click)="openDialogUpdate(LinePartie().numberLine)"
            class="rounded-full bg-white border-primary-color border-2 text-primary-color p-2">
            <img class="h-4" fetchpriority="high" src="icons/crayon.png">
          </button>
          <button
            (click)="openDialogDeletion()"
            class="rounded-full bg-white border-primary-color border-2 text-primary-color p-2">
            <img class="h-4" fetchpriority="high" src="icons/supprimer.png">
          </button>
        </div>
        @if (LinePartie().lots.length > 1) {
          <div class="title-lot">
            ou
          </div>
        }
      </div>
      <div class="label-lot w-full mt-auto">
        {{ currentLot().name }}
      </div>
    </div>
  </div>
  @if (LinePartie().lots.length > 1) {
    <img class="h-5 -mr-4 sm:mr-0" src="icons/arrow-right-triangle.svg" (click)="nextLot()">
  }
</div>

