  <app-history-container [Year]="2016" [Title]="'Maxence a 11 ans'">
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/MaxencePouce.jpg"></app-vpd-image>
  </div>

  <p>
    Le début d’année se poursuit avec des débit de stomie faibles et des maux de ventre. Du coup, plutôt qu'une
    douche, Maxence prend des bains un peu chaud en protégeant bien le cathéter, afin de tenter de relancer
    le transit. Cela fonctionne plus ou moins mais c’est toujours çà. Allez, on y croit!!
  </p>


  <p>
    La nuit du 7 janvier a été catastrophique à cause d'une infection urinaire... Du coup, pas d'école et de
    nombreux soins pour tenter de soulager la douleur. Par contre, les débit de stomie remontent un peu sans
    pour autant être normaux: à suivre…
  </p>


  <p>
    Le 10 janvier, c’est notre loto. Il remporte un immense succès avec plus de 800 personnes et malheureusement
    une centaine de personnes de refusées faute de places. Nous recherchons des lots tout au long de
    l’année, l’organisons et l’animons seuls : c’est une immense fierté de fédérer autant de monde autour
    d’un évènement.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.CARRE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/AfficheLoto.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/Loto2016.jpg"></app-vpd-image>
  </div>

  <p>
    12 janv, tous les voyants sont au vert: pas de maux de ventre comme la veille, pas trop fatigué alors
    on fonce à l’école!!
  </p>

  <p>
    Allant mieux, 4 jours plus tard, nous retentons de boucher l'intestin afin de forcer les selles à passer
    par l'intestin remis en continuité en juillet car plus rien ne passe de lui-même et Maxence fait donc une
    colite d'exclusion. J’ai reçu la veille ce matériel suite à de nombreuses recherches plutôt que de mettre
    un bouchon en plastique ou un tampax comme le proposait le chirurgien. Dès le début c'est très douloureux...
    Le bouchon tient 5h... Il vient d'être expulsé et cela coule partout à flot par la stomie. On arrête
    l'expérience pour aujourd'hui car il a mal au ventre et à l'orifice de sa stomie.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/PansementsStomie.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/Stomie.jpg"></app-vpd-image>
  </div>

  <p>
    Le 19 janvier, Maxence participe à un tournoi d'échecs en équipe avec son club de Corbas. Il est très fier
    d’être compté parmi les participants !
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/MaxenceEchecParEquipe.jpg"></app-vpd-image>
  </div>
  <p>
    Le 20 janv, nous allons à l’hôpital en consultation cardiaque car son coeur lui reprovoque de fortes
    douleurs depuis 1 mois et ce, tous les jours. On lui pose un holter. Les résultats ne montreront rien
    d’alarmant mais il faut rester vigilant d’autant que ces crises de paniques lui empoissent son quotidien et
    le notre…
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/MaxenceHolter.jpg"></app-vpd-image>
  </div>

  <p>
    Le 24 à 23h: maux de ventre, remontées acides, vomissements... Vite, antispasmodiques entre autre, rien
    qu'en intra-veineux bien-sûr....
  </p>
  <p>
    Le lendemain nous sommes invités au Zénith de St Étienne, par l'association Les Mains du Coeur dans le
    cadre de l'open de tennis féminin. C’est une magnifique soirée durant laquelle 5 associations se sont vu
    remettre un chèque de 620€ chacune dont la nôtre.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/MainDuCoeur.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/MainDuCoeur2.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/MainDuCoeur3.jpg"></app-vpd-image>
  </div>

  <p>
    Nous poursuivons nos manifestations avec une représentation théâtrale offerte par les Feuill’art le 31
    janvier. De nouveau nous refusons du monde car la salle est comble!
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/Feuillart.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/Feuillart2.jpg"></app-vpd-image>
  </div>

  <p>
    La semaine suivante, une magnifique surprise attend Maxence. Suite à la foire expo de St Etienne à laquelle
    nous avions participée, Papy Daniel avait discuté avec l’entreprise Espace Concept qui a décidée de lui
    offrir un plafond tendu afin de tenter de remédier à ses paniques nocturnes. Le résultat est MAGNIFIQUE!
    Un immense merci à cette entreprise pour ce merveilleux cadeau! Maxence est au septième ciel ! Depuis, il
    ne se lève plus toutes les demies-heures, voir quart d’heure afin de savoir si nous sommes toujours là
    entre autre.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/PlafondToileTendu.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/PlafondToileTendu2.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/PlafondToileTendu3.jpg"></app-vpd-image>
  </div>
  <p>
    Par contre, marre de ces maux de ventre et vomissements... Une fin de nuit plus calme même si la position
    antalgique est de rigueur en plein sommeil...
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/MaxenceLitDodoPlie.jpg"></app-vpd-image>
  </div>

  <p>
    Le 9 février est une date importante : nous apprenons par la presse que Rémi Janacek est enfin arrêté !!!
    Cet escroc contre qui j’avais porté plainte… ce dossier va peut-être enfin s’ouvrir !
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/JournalRemiJanacek.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/JournalRemiJanacek2.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/JournalRemiJanacek3.jpg"></app-vpd-image>
  </div>
  <p>
    Par contre, du côté de Maxence, ce n’est pas la forme... Mal au ventre et vomissements: impossible d'aller
    à l'école. ses débits de stomie (selles) restent très faibles, je suis en subocclusion depuis plusieurs
    jours... Il fait des SPA (eau salée) avec son frère pour essayer de le détendre et de tonifier la
    motricité de ses intestins. Il ne veut pas en faire seul, trop peur et du coup mal au cœur :
    heureusement la fratrie est là pour l’encadrer.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/MaxenceEvanSpa.jpg"></app-vpd-image>
  </div>
  <p>
    Il retourne très peu à l’école jusqu’aux vacances de février. On adapte son emploi du temps en fonction
    de ses maux de ventre. Du coup, nous improvisons en fonction de son état. Ainsi, nous l’emmenons un
    après-midi faire de la luge et des bonhommes de neige au col de La Loge, à 1h30 de chez nous avec ses
    frères. Il s’amuse comme un petit fou mais se fatigue très très vite : impossible pour lui de marcher
    dans la neige, nous devons tout le temps le porter.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/NeigeDay.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/NeigeDay2.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/NeigeDay3.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/NeigeDay4.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/NeigeDay5.jpg"></app-vpd-image>
  </div>
  <p>
    Nous profitons des vacances pour fêter son anniversaire avec ses copains au laser fun malgré le handicap de
    chacun. Pour la plupart des enfants invités, c’est une grande première de faire une partie de laser : c’est
    super chouette ! Nous restons sur notre position qui est que le handicap ne doit pas être un frein !
  </p>
  <p>
    Quelques jours plus tard, nous avonsun RDV à l'entreprise Gibaud afin de trouver un vêtement adapté à ses
    gros problèmes de non régulation de température. La solution est peut-être au Japon! L'entreprise Gibaud
    va essayer de lui obtenir un exemplaire d'un polo qui permet de baisser la température de 2 à 3 degrés au
    contact du corps. Il coûte 126 dollars, alors mieux vaut faire un essai avant d'en acheter plusieurs!!
    Mais si nous nous démenons autant avec l’association, c’est bien dans le but de lui financer le matériel
    nécessaire afin qu’il vive au mieux comme tout le monde !
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/Gibaud.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/Gibaud2.jpg"></app-vpd-image>
  </div>

  <p>
    Les jours se suivent et ne se ressemblent pas. Cela faisait 3 jours que Maxence ne se plaignait plus de
    maux de ventre et patatra… intense fatigue, importantes nausées et...38,6C : pas de reprise d’école.
  </p>
  <p>
    A l'aide de Fabien Gil, petite séance de sport après l'école le matin: c'est pratique de ne pas manger,
    ainsi on peut faire plus de choses dans une journée!
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/MaxenceSeanceSport.jpg"></app-vpd-image>
  </div>
  <p>
    Samedi 12 mars, nous partageons un magnifique moment au son de 3 chorales dans une église comble: les
    130 choristes se sont rassemblés à la fin pour un chant à l'unisson, c'était grandiose!
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/Chorales.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/Chorales2.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/Chorales3.jpg"></app-vpd-image>
  </div>

  <p>
    Plus tôt dans la journée, nous avons trié 1 tonne 300 de bouchons avec une super équipe de scouts!
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/BouchonsScout.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/BouchonsScout2.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/BouchonsScout3.jpg"></app-vpd-image>
  </div>
  <p>
    Soirée au foot concert au Zénith le samedi suivant en soutien à une autre association. Nous rentrons avant
    la fin car Maxence a mal au ventre à cause des résonances et mal aux yeux à cause des lumières qui lui
    donnent des vertiges...
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PORTRAIT"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/FootZenithMaxence.jpg"></app-vpd-image>
  </div>
  <p>
    Pâques : nous passons un superbe moment en famille à la recherche des œufs chez Papy et Mamy
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.CARRE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/ChasseAuxOeufs.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.CARRE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/ChasseAuxOeufs2.jpg"></app-vpd-image>
  </div>

  <p>
    Les jours se suivent et se ressemblent depuis quelques temps et donc Maxence va à l'école et poursuit ses
    activités comme les échecs. Entre deux, s'intercalent tout de même quelques RDV médicaux comme la
    consultation en ORL afin de faire le point tous les 6 mois. On avance sur le projet de l'implant suite à
    la déficience visuelle. Sinon, Maxence va faire un essai avec un micro que la maîtresse aura du tour du
    cou afin qu'il perçoive mieux ce qu'elle dit et moins les bruits de fond de la classe: on anticipe pour
    le collège!
  </p>
  <p>
    Vendredi 1er avril, après une matinée compliquée avec la douleur qui s'est installée surtout au niveau des
    yeux, nous sommes allés visiter le collège pour septembre. C'est super! Tout est génial, jusqu'à l'infirmerie!
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/VisiteCollege.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/VisiteCollege2.jpg"></app-vpd-image>
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/VisiteCollege3.jpg"></app-vpd-image>
  </div>
  <p>
    Malheureusement, le lendemain matin, nous devons aller aux urgences ophtalmo : douleur insupportable à
    l'œil qui a du silicone. Cela fait 3 jours que cela le gênait mais depuis hier c'est la cata...
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/MaxenceATerre.jpg"></app-vpd-image>
  </div>
  <p>
    Hospitalisé d'urgence en ophtalmologie. Maxence a 50 de tension dans l'œil qui a le silicone: c'est
    extrêmement douloureux. La position antalgique est de garder la tête baissée...
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/MaxenceLitPriere.jpg"></app-vpd-image>
  </div>
  <p>
    De nombreuses gouttes différentes sont instillées toutes les heures ainsi que des injections en IV de
    diamox, paracétamol et nubain: il reste extrêmement douloureux...
  </p>
  <p>
    Maxence souffre comme rarement il a souffert. On lui augmente les corticoïdes, les antalgiques. Un médecin
    se penche sur son cas pour comprendre pourquoi il fait un glaucome aigu... La douleur a fini par r
    edescendre à 4/10 et après une longue séance de caresses avec un mouchoir, Maxence s'est endormi.
  </p>
  <p>
    La nuit a été calme, sous antalgiques et médicaments spécifiques contre la tension. Le médecin l'a examiné
    et la tension a baissé: 36. Toutefois, le liquide s'évacue mal, cela paraît un peu bouché. Du coup,
    il faudrait un acte chirurgical afin de pratiquer une incision. Ne sachant quel silicone il a dans l'œil,
    le médecin appellera La Fondation Rotschild demain matin avant le bloc opératoire sauf si miraculeusement
    d'ici là tout redevient normal! En attendant, Maxence n'a plus mal à la tête, "juste" à l'œil qui reste
    fermé.
  </p>
  <p>
    Nuit calme après une soirée compliquée durant laquelle il a fallu reprendre la tension qui ne baisse plus.
    Le docteur vient de passer pour confirmer le bloc opératoire, on attend l'anesthésiste puis ce sera bon.
    On ne connaît pas l'heure de passage mais ils essayeront au plus vite afin de le soulager et qu'il puisse
    rentrer à la maison demain mardi. En attendant, gros stress à l'idée d'aller une nouvelle fois au bloc:
    il en a marre...
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/MaxencePlieLit.jpg"></app-vpd-image>
  </div>
  <p>
    Tout s'est bien passé. Maxence est fatigué et n'est pas content d'avoir une coque sur l'œil. Il ne peut
    pas ouvrir les yeux mais promet que demain il aura la pêche ! La nuit est calme sous antalgique.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/MaxenceCoqueOeil.jpg"></app-vpd-image>
  </div>
  <p>
    Suite à la consultation du lendemain matin avec le chirurgien, Maxence peut  sortir car il n’a plus de
    tension dans l'œil. Il le revoit le 14 avril afin de faire le point sur le glaucome. En attendant il a
    tout un cocktail de gouttes à mettre et des antalgiques car elles engendrent de la douleur chaque fois
    qu'on lui en met...
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/MaxenceOpticien.jpg"></app-vpd-image>
  </div>
  <p>
    Le lendemain, papa et papy livrent des bouchons pour l'association. Sinon, son retour à la maison s'est
    bien passé. La douleur est maîtrisée.
  </p>
  <div class="multiple-images">
    <app-vpd-image    [orientation]="ImageOrientationEnum.PAYSAGE"    [backgroundColor]="BackgroundColorEnum.WHITE"    src="images/MaxencesHistory/2016/PapyBouchon.jpg"></app-vpd-image>
  </div>
</app-history-container>


