<app-general-infos [vpdEvent]="vpdEvent()">
  <div class="grid grid-cols-1 gap-5 sm:grid-cols-2">
    <app-section-infos-event
      Title="Date"
      UrlIcon="icons/calendar-icon.svg"
      [Value]="vpdEvent().dateStart | date: 'dd/MM/yyyy':'UTC'">
    </app-section-infos-event>
    <app-section-infos-event
      Title="Lieu"
      UrlIcon="icons/location-icon.svg"
      [Value]="vpdEvent().roadNumber + ' ' + vpdEvent().road + '<br>' + vpdEvent().cityCode + ' ' + vpdEvent().city">
    </app-section-infos-event>
    <app-section-infos-event
      Title="Début"
      UrlIcon="icons/clock-icon.svg"
      [Value]="vpdEvent().dateStart | date: 'HH:mm':'UTC'">
    </app-section-infos-event>
    @if (vpdEvent().urlRegistration !== null) {
      <app-section-infos-event Title="S'enregistrer" UrlIcon="icons/signe.png">
        <a ngProjectAs="value" [href]="vpdEvent().urlRegistration!">
          <app-pill-button [small]="true">C'est par ici →</app-pill-button>
        </a>
      </app-section-infos-event>
    }
  </div>
</app-general-infos>
