<div class="flex flex-col p-5 lg:p-0 lg:w-[85%] gap-10 lg:gap-16 ml-auto mr-auto items-center mt-3 lg:mt-16 mb-16">
  <div class="w-fit lg:mb-10">
    <h1 class="text-5xl lg:text-7xl text-primary-color text-center">Dysplasies Ectodermiques</h1>
    <div class="bg-primary-color h-2 w-full hidden lg:block"></div>
  </div>

  <app-under-section Title="Qu'est-ce que les Dysplasies Ectodermiques ?">
    <p>
      Les dysplasies ectodermiques forment un groupe hétérogène de plus de 200 syndromes rares caractérisés par
      l'atteinte d'au moins deux des dérivés du tissu ectodermique embryonnaire : dents, ongles, glandes sudorales et
      poils. Ce groupe de maladies présentes dès la naissance affecte des structures dérivées du feuillet embryonnaire
      ectodermique, ce qui peut entraîner une variété de symptômes manifestés à divers degrés de sévérité.
    </p>
  </app-under-section>

  <app-under-section Title="Description"  class="w-full">
    <ul class="list-disc ml-10">
      <li><em>Dérivés Ectodermiques :</em> Les syndromes associés aux dysplasies ectodermiques comprennent des anomalies des dents, des ongles, des glandes sudorales et des poils.</li>
      <li><em>Manifestations Complémentaires : </em> Certains syndromes plus complexes peuvent également inclure des anomalies ophtalmologiques, une hypoacousie ou surdité, des fentes labio-palatines, ou encore des anomalies du développement des extrémités comme les mains et les pieds.</li>
    </ul>
  </app-under-section>

  <app-under-section Title="Signes et Diagnostic"  class="w-full">
    <p>
      Le diagnostic de dysplasie ectodermique est avant tout clinique et repose sur l'observation de plusieurs signes distinctifs.
    </p>
    <ul class="list-disc ml-10">
      <li><em>Croissance et Développement :</em> La croissance staturo-pondérale doit être surveillée attentivement. Les anomalies dentaires peuvent affecter la prise alimentaire, rendant le développement physique plus lent et modifiant la diction.</li>
      <li><em>Régulation de la Température :</em> La plupart des patients souffrent de troubles de régulation de la température corporelle, nécessitant un environnement tempéré pour leur confort et leur sécurité, aussi bien pour les enfants que pour les adultes.</li>
      <li>
        <em>Sécheresse des Muqueuses :</em>
        La sécheresse peut affecter différentes muqueuses :
        <ul class="list-disc ml-10">
          <li><em>Nasales :</em> Peut provoquer des épistaxis (saignements de nez)</li>
          <li><em>Oculaires :</em> Peut causer une fatigabilité visuelle accrue</li>
          <li><em>Buccales :</em> Peut rendre l'élocution difficile</li>
        </ul>
      </li>
    </ul>
  </app-under-section>
</div>
